<h1 style="
  font-size: 55px; 
  text-align: center; 
  font-family: 'Poppins', sans-serif; 
  text-shadow: 2px 2px 5px rgba(63, 155, 77, 0.84);
  letter-spacing: 2px;
">
 <b>ðŸ“Š Application Dataset</b>
</h1>
<hr style="width: 60%; border: 2px solid #21996fd1; border-radius: 5px;">

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("application_data.csv")

## <span style="color:#21996fd1;">**=> EDA & Data Cleaning**
---

In [3]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

##### <span style="color:#a8dbc9d1;">Drop DAYS_LAST_PHONE_CHANGE column

In [26]:
df.drop(columns=['DAYS_LAST_PHONE_CHANGE'], inplace=True)

In [27]:
df['FLAG_DOCUMENT_3'].value_counts(normalize=True) * 100

FLAG_DOCUMENT_3
1    71.002338
0    28.997662
Name: proportion, dtype: float64

In [28]:
docs_to_drop = [
    'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
    'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
    'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'
]

df.drop(columns=docs_to_drop, inplace=True)

In [29]:
null_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

for i in range(0, len(null_percent), 25):
    print(f"\nðŸ“Š Columns {i+1} to {min(i+25, len(null_percent))}:\n")
    print(null_percent.iloc[i:i+25])

ðŸ“Š Columns 1 to 25:

OCCUPATION_TYPE               31.345545
EXT_SOURCE_3                  19.825307
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
OBS_30_CNT_SOCIAL_CIRCLE       0.332021
DEF_60_CNT_SOCIAL_CIRCLE       0.332021
OBS_60_CNT_SOCIAL_CIRCLE       0.332021
DEF_30_CNT_SOCIAL_CIRCLE       0.332021
EXT_SOURCE_2                   0.214626
AMT_GOODS_PRICE                0.090403
AMT_ANNUITY                    0.003902
CNT_FAM_MEMBERS                0.000650
SK_ID_CURR                     0.000000
FLAG_OWN_CAR                   0.000000
FLAG_OWN_REALTY                0.000000
NAME_CONTRACT_TYPE             0.000000
TARGET                         0.000000
REGION_POPULATION_RELATIVE     0.000000
NAME_HOUSING_TYPE              0.000000
NAME_FAMILY_STATUS             0.000000
NAME_EDUCATION_TYPE            0.000000
NAME_INCOME_TYPE               0.000000
AMT_CREDIT                     0.000000
CNT_CHILDREN                   0.000000
AMT_INCOME_TOTAL               0.000000
CODE_GENDER                    0.000000
dtype: float64

ðŸ“Š Columns 26 to 48:

FLAG_CONT_MOBILE               0.0
DAYS_BIRTH                     0.0
DAYS_EMPLOYED                  0.0
FLAG_MOBIL                     0.0
FLAG_EMP_PHONE                 0.0
DAYS_REGISTRATION              0.0
DAYS_ID_PUBLISH                0.0
HOUR_APPR_PROCESS_START        0.0
WEEKDAY_APPR_PROCESS_START     0.0
REGION_RATING_CLIENT_W_CITY    0.0
REGION_RATING_CLIENT           0.0
FLAG_PHONE                     0.0
FLAG_EMAIL                     0.0
FLAG_WORK_PHONE                0.0
REG_REGION_NOT_LIVE_REGION     0.0
ORGANIZATION_TYPE              0.0
LIVE_CITY_NOT_WORK_CITY        0.0
REG_CITY_NOT_WORK_CITY         0.0
REG_CITY_NOT_LIVE_CITY         0.0
REG_REGION_NOT_WORK_REGION     0.0
LIVE_REGION_NOT_WORK_REGION    0.0
FLAG_DOCUMENT_3                0.0
PHONE_CHANGE_STATUS            0.0
dtype: float64

In [30]:
df['ORGANIZATION_TYPE'].value_counts(normalize=True)

ORGANIZATION_TYPE
Business Entity Type 3    0.221104
XNA                       0.180072
Self-employed             0.124913
Other                     0.054252
Medicine                  0.036399
Business Entity Type 2    0.034317
Government                0.033833
School                    0.028919
Trade: type 7             0.025466
Kindergarten              0.022373
Construction              0.021856
Business Entity Type 1    0.019459
Transport: type 4         0.017554
Trade: type 3             0.011356
Industry: type 9          0.010952
Industry: type 3          0.010660
Security                  0.010559
Housing                   0.009619
Industry: type 11         0.008793
Military                  0.008566
Bank                      0.008153
Agriculture               0.007980
Police                    0.007613
Transport: type 2         0.007167
Postal                    0.007014
Security Ministries       0.006419
Trade: type 2             0.006179
Restaurant                0.005889
Services                  0.005122
University                0.004315
Industry: type 7          0.004250
Transport: type 3         0.003860
Industry: type 1          0.003379
Hotel                     0.003141
Electricity               0.003089
Industry: type 4          0.002852
Trade: type 6             0.002052
Industry: type 5          0.001948
Insurance                 0.001941
Telecom                   0.001876
Emergency                 0.001821
Industry: type 2          0.001489
Advertising               0.001395
Realtor                   0.001288
Culture                   0.001232
Industry: type 12         0.001200
Trade: type 1             0.001132
Mobile                    0.001031
Legal Services            0.000992
Cleaning                  0.000845
Transport: type 1         0.000654
Industry: type 6          0.000364
Industry: type 10         0.000354
Religion                  0.000276
Industry: type 13         0.000218
Trade: type 4             0.000208
Trade: type 5             0.000159
Industry: type 8          0.000078
Name: proportion, dtype: float64

In [31]:
# number of population in the region where the client lives,
df['REGION_POPULATION_RELATIVE'].value_counts(normalize=True)

REGION_POPULATION_RELATIVE
0.035792    0.053357
0.046220    0.043712
0.030755    0.039553
0.025164    0.038860
0.026392    0.037725
              ...
0.001417    0.001519
0.001333    0.000764
0.000533    0.000127
0.000938    0.000091
0.000290    0.000007
Name: proportion, Length: 81, dtype: float64

In [32]:
# evaluate the bank or financial institution's rating of the quality or "level" of the area where the client lives.
df['REGION_RATING_CLIENT'].value_counts(normalize=True)

REGION_RATING_CLIENT
2    0.738133
3    0.157165
1    0.104702
Name: proportion, dtype: float64

In [33]:
df['REGION_RATING_CLIENT_W_CITY'].value_counts(normalize=True)

REGION_RATING_CLIENT_W_CITY
2    0.746263
3    0.142629
1    0.111108
Name: proportion, dtype: float64

In [34]:
# does the client officially registered in a region different from the one they actually live in?
df['REG_REGION_NOT_LIVE_REGION'].value_counts(normalize=True)

REG_REGION_NOT_LIVE_REGION
0    0.984856
1    0.015144
Name: proportion, dtype: float64

In [35]:
df['HOUR_APPR_PROCESS_START'].value_counts(normalize=True)

HOUR_APPR_PROCESS_START
10    0.122669
11    0.121066
12    0.111323
13    0.100676
14    0.090020
9     0.089050
15    0.080774
16    0.066290
8     0.049192
17    0.048454
7     0.029693
18    0.029427
6     0.018998
19    0.012513
5     0.011830
4     0.006797
3     0.004000
20    0.003889
21    0.001317
2     0.000992
22    0.000488
1     0.000280
23    0.000133
0     0.000130
Name: proportion, dtype: float64

In [36]:
# does the client work in a different region than the one they live in?
df['REG_REGION_NOT_WORK_REGION'].value_counts(normalize=True)

REG_REGION_NOT_WORK_REGION
0    0.949231
1    0.050769
Name: proportion, dtype: float64

In [37]:
# the comparison is between the officially registered city of the client and the city they actually live in.
df['REG_CITY_NOT_LIVE_CITY'].value_counts(normalize=True)

REG_CITY_NOT_LIVE_CITY
0    0.921827
1    0.078173
Name: proportion, dtype: float64

In [38]:
# does the client live in a different region than the one they work in?
df['LIVE_REGION_NOT_WORK_REGION'].value_counts(normalize=True)

LIVE_REGION_NOT_WORK_REGION
0    0.959341
1    0.040659
Name: proportion, dtype: float64

In [39]:
df['LIVE_CITY_NOT_WORK_CITY'].value_counts(normalize=True)

LIVE_CITY_NOT_WORK_CITY
0    0.820445
1    0.179555
Name: proportion, dtype: float64

##### <span style="color:#a8dbc9d1;">Drop the identified columns

In [40]:
columns_to_drop = [
    "REGION_POPULATION_RELATIVE",
    # "REGION_RATING_CLIENT",
    "REG_REGION_NOT_LIVE_REGION",
    "HOUR_APPR_PROCESS_START",
    "REG_CITY_NOT_WORK_CITY",
    "REG_CITY_NOT_LIVE_CITY",
    "REG_REGION_NOT_WORK_REGION",
    "LIVE_REGION_NOT_WORK_REGION",
    "LIVE_CITY_NOT_WORK_CITY"
]
df = df.drop(columns=columns_to_drop, errors='ignore')
print(df.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_INCOME_TYPE',
       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'FLAG_DOCUMENT_3', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'PHONE_CHANGE_STATUS'],
      dtype='object')

##### <span style="color:#a8dbc9d1;">Create Wealth Coulmn

In [41]:
def wealth_category(row):
    if row["FLAG_OWN_CAR"] == 'Y' and row["FLAG_OWN_REALTY"] == 'Y':
        return "High"      
    elif row["FLAG_OWN_CAR"] == 'Y' or row["FLAG_OWN_REALTY"] == 'Y':
        return "Medium"   
    else:
        return "Low"      

df["WEALTH"] = df.apply(wealth_category, axis=1)
df.drop(["FLAG_OWN_CAR", "FLAG_OWN_REALTY"], axis=1, inplace=True)

In [42]:
df['WEALTH'].value_counts(normalize=True)

WEALTH
Medium    0.563164
High      0.235309
Low       0.201528
Name: proportion, dtype: float64

In [ ]:
df["COMMUNICATION"] = (
    df["FLAG_WORK_PHONE"] |
    df["FLAG_EMP_PHONE"] |
    df["FLAG_PHONE"] |
    df["FLAG_CONT_MOBILE"] |
    df["FLAG_EMAIL"] |
    df["FLAG_MOBIL"]
).astype(int)
df.drop([
    "FLAG_WORK_PHONE",
    "FLAG_EMP_PHONE",
    "FLAG_PHONE",
    "FLAG_CONT_MOBILE",
    "FLAG_EMAIL",
    "FLAG_MOBIL"
], axis=1, inplace=True)

In [ ]:
df['NAME_HOUSING_TYPE'].value_counts(normalize=True)

NAME_HOUSING_TYPE
House / apartment      0.887344
With parents           0.048258
Municipal apartment    0.036366
Rented apartment       0.015873
Office apartment       0.008510
Co-op apartment        0.003649
Name: proportion, dtype: float64

In [ ]:
df["NAME_HOUSING_TYPE"] = df["NAME_HOUSING_TYPE"].apply(
    lambda x: "House/apartment" if x == "House / apartment" else "Other"
)

In [ ]:
df['DAYS_REGISTRATION'].value_counts(normalize=True)

DAYS_REGISTRATION
-1.0        0.000367
-7.0        0.000319
-6.0        0.000312
-4.0        0.000299
-2.0        0.000299
              ...
-15106.0    0.000003
-13896.0    0.000003
-15320.0    0.000003
-14252.0    0.000003
-17588.0    0.000003
Name: proportion, Length: 15688, dtype: float64