<h1 style="
  font-size: 55px; 
  text-align: center; 
  font-family: 'Poppins', sans-serif; 
  text-shadow: 2px 2px 5px rgba(63, 155, 77, 0.84);
  letter-spacing: 2px;
">
  <b>ðŸ“Š Previous Dataset</b>
</h1>
<hr style="width: 60%; border: 2px solid #21996fd1; border-radius: 5px;">

In [83]:
import numpy as np
import pandas as pd

In [84]:
df = pd.read_csv("previous_application.csv")

## <span style="color:#21996fd1;">**1- Initial Exploration  & EDA**
---

In [85]:
df.shape

(1670214, 37)

In [86]:
df.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [88]:
df.describe()

,SK_ID_PREV,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,...,RATE_INTEREST_PRIVILEGED,DAYS_DECISION,SELLERPLACE_AREA,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
count,1.670214e+06,1.670214e+06,1.297979e+06,1.670214e+06,1.670213e+06,7.743700e+05,1.284699e+06,1.670214e+06,1.670214e+06,774370.000000,...,5951.000000,1.670214e+06,1.670214e+06,1.297984e+06,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000
mean,1.923089e+06,2.783572e+05,1.595512e+04,1.752339e+05,1.961140e+05,6.697402e+03,2.278473e+05,1.248418e+01,9.964675e-01,0.079637,...,0.773503,-8.806797e+02,3.139511e+02,1.605408e+01,342209.855039,13826.269337,33767.774054,76582.403064,81992.343838,0.332570
std,5.325980e+05,1.028148e+05,1.478214e+04,2.927798e+05,3.185746e+05,2.092150e+04,3.153966e+05,3.334028e+00,5.932963e-02,0.107823,...,0.100879,7.790997e+02,7.127443e+03,1.456729e+01,88916.115834,72444.869708,106857.034789,149647.415123,153303.516729,0.471134
min,1.000001e+06,1.000010e+05,0.000000e+00,0.000000e+00,0.000000e+00,-9.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,-0.000015,...,0.373150,-2.922000e+03,-1.000000e+00,0.000000e+00,-2922.000000,-2892.000000,-2801.000000,-2889.000000,-2874.000000,0.000000
25%,1.461857e+06,1.893290e+05,6.321780e+03,1.872000e+04,2.416050e+04,0.000000e+00,5.084100e+04,1.000000e+01,1.000000e+00,0.000000,...,0.715645,-1.300000e+03,-1.000000e+00,6.000000e+00,365243.000000,-1628.000000,-1242.000000,-1314.000000,-1270.000000,0.000000
50%,1.923110e+06,2.787145e+05,1.125000e+04,7.104600e+04,8.054100e+04,1.638000e+03,1.123200e+05,1.200000e+01,1.000000e+00,0.051605,...,0.835095,-5.810000e+02,3.000000e+00,1.200000e+01,365243.000000,-831.000000,-361.000000,-537.000000,-499.000000,0.000000
75%,2.384280e+06,3.675140e+05,2.065842e+04,1.803600e+05,2.164185e+05,7.740000e+03,2.340000e+05,1.500000e+01,1.000000e+00,0.108909,...,0.852537,-2.800000e+02,8.200000e+01,2.400000e+01,365243.000000,-411.000000,129.000000,-74.000000,-44.000000,1.000000
max,2.845382e+06,4.562550e+05,4.180581e+05,6.905160e+06,6.905160e+06,3.060045e+06,6.905160e+06,2.300000e+01,1.000000e+00,1.000000,...,1.000000,-1.000000e+00,4.000000e+06,8.400000e+01,365243.000000,365243.000000,365243.000000,365243.000000,365243.000000,1.000000

##### <span style="color:#7dc7add1;">**Show Null Percentage in Every Column**

In [89]:
null_percents = df.isnull().mean() * 100
sorted_nulls = null_percents.sort_values(ascending=False)
max_col_length = max(len(col) for col in df.columns)

print(f"{'Column Name'.ljust(max_col_length)} | Null %")
print("-" * (max_col_length + 10))

for col, percent in sorted_nulls.items():
    print(f"{col.ljust(max_col_length)} | {percent:6.4f}%")

Column Name                 | Null %
-------------------------------------
RATE_INTEREST_PRIVILEGED    | 99.6437%
RATE_INTEREST_PRIMARY       | 99.6437%
AMT_DOWN_PAYMENT            | 53.6365%
RATE_DOWN_PAYMENT           | 53.6365%
NAME_TYPE_SUITE             | 49.1198%
DAYS_TERMINATION            | 40.2981%
DAYS_FIRST_DRAWING          | 40.2981%
DAYS_FIRST_DUE              | 40.2981%
DAYS_LAST_DUE_1ST_VERSION   | 40.2981%
DAYS_LAST_DUE               | 40.2981%
NFLAG_INSURED_ON_APPROVAL   | 40.2981%
AMT_GOODS_PRICE             | 23.0818%
AMT_ANNUITY                 | 22.2867%
CNT_PAYMENT                 | 22.2864%
PRODUCT_COMBINATION         | 0.0207%
AMT_CREDIT                  | 0.0001%
SK_ID_PREV                  | 0.0000%
AMT_APPLICATION             | 0.0000%
NAME_CONTRACT_TYPE          | 0.0000%
SK_ID_CURR                  | 0.0000%
WEEKDAY_APPR_PROCESS_START  | 0.0000%
CODE_REJECT_REASON          | 0.0000%
NAME_PAYMENT_TYPE           | 0.0000%
DAYS_DECISION               | 0.0000%
NAME_CONTRACT_STATUS        | 0.0000%
NAME_CASH_LOAN_PURPOSE      | 0.0000%
HOUR_APPR_PROCESS_START     | 0.0000%
FLAG_LAST_APPL_PER_CONTRACT | 0.0000%
NFLAG_LAST_APPL_IN_DAY      | 0.0000%
NAME_SELLER_INDUSTRY        | 0.0000%
SELLERPLACE_AREA            | 0.0000%
CHANNEL_TYPE                | 0.0000%
NAME_PRODUCT_TYPE           | 0.0000%
NAME_GOODS_CATEGORY         | 0.0000%
NAME_PORTFOLIO              | 0.0000%
NAME_CLIENT_TYPE            | 0.0000%
NAME_YIELD_GROUP            | 0.0000%

## <span style="color:#21996fd1;"> **2- Data Cleaning**
---

##### <span style="color:#a8dbc9d1;">Handle XNA values in NAME_CONTRACT_TYPE

In [115]:
df['NAME_CONTRACT_TYPE'].unique()

array(['Consumer loans', 'Cash loans', 'Revolving loans', 'XNA'],
      dtype=object)

In [116]:
df = df[df['NAME_CONTRACT_TYPE'] != 'XNA']

##### <span style="color:#a8dbc9d1;">Handle XNA in NAME_PORTFOLIO

In [117]:
df['NAME_PORTFOLIO'].unique()

array(['POS', 'Cash', 'XNA', 'Cards', 'Cars'], dtype=object)

In [118]:
df['NAME_PORTFOLIO'].value_counts(normalize=True)

NAME_PORTFOLIO
POS      0.413812
Cash     0.276407
XNA      0.222703
Cards    0.086824
Cars     0.000255
Name: proportion, dtype: float64

In [119]:
NAME_PORTFOLIO_count = (df['NAME_PORTFOLIO'] == 'XNA').sum()
NAME_PORTFOLIO_percentage = (NAME_PORTFOLIO_count / len(df)) * 100
NAME_PORTFOLIO_percentage

np.float64(22.270276614844175)

In [120]:
def fix_portfolio(row):
    current = str(row['NAME_PORTFOLIO']).strip()
    if current != 'XNA':
        return current 

    product = str(row['PRODUCT_COMBINATION']).lower().strip() if pd.notna(row['PRODUCT_COMBINATION']) else ''
    industry = str(row['NAME_SELLER_INDUSTRY']).lower().strip() if pd.notna(row['NAME_SELLER_INDUSTRY']) else ''

    if product.startswith('cash'):
        return 'Cash'
    elif product.startswith('card'):
        return 'Cards'
    elif product.startswith('pos'):
        if 'industry' in industry:
            return 'Cars'
        else:
            return 'POS'
    else:
        return current

df['NAME_PORTFOLIO'] = df.apply(fix_portfolio, axis=1)

In [121]:
df.drop('NAME_SELLER_INDUSTRY',axis=1,inplace=True) # 51% NULLS + 855716 XNA

In [122]:
df['NAME_PORTFOLIO'].value_counts(normalize=True)

NAME_PORTFOLIO
Cash     0.447672
POS      0.436322
Cards    0.115676
Cars     0.000330
Name: proportion, dtype: float64

##### <span style="color:#a8dbc9d1;">Handle XNA in NAME_YIELD_GROUP

In [123]:
df['PRODUCT_COMBINATION'].value_counts(normalize=True)*100

PRODUCT_COMBINATION
Cash                              17.126514
POS household with interest       15.787006
POS mobile with interest          13.214825
Cash X-Sell: middle                8.616435
Cash X-Sell: low                   7.799903
Card Street                        6.741914
POS industry with interest         5.918615
POS household without interest     4.964946
Card X-Sell                        4.825654
Cash Street: high                  3.571482
Cash X-Sell: high                  3.551241
Cash Street: middle                2.075495
Cash Street: low                   2.026149
POS mobile without interest        1.442151
POS other with interest            1.429994
POS industry without interest      0.754671
POS others without interest        0.153006
Name: proportion, dtype: float64

In [124]:
df['NAME_YIELD_GROUP'].value_counts(normalize=True) * 100

NAME_YIELD_GROUP
XNA           30.952645
middle        23.087587
high          21.159230
low_normal    19.288662
low_action     5.511876
Name: proportion, dtype: float64

In [125]:
df['NAME_YIELD_GROUP'].replace(['low_normal','low_action'],'low',inplace=True)

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_28768\3630190138.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NAME_YIELD_GROUP'].replace(['low_normal','low_action'],'low',inplace=True)

In [126]:
df['NAME_YIELD_GROUP'].value_counts(normalize=True) * 100

NAME_YIELD_GROUP
XNA       30.952645
low       24.800538
middle    23.087587
high      21.159230
Name: proportion, dtype: float64

In [127]:
df['NAME_CONTRACT_TYPE'].value_counts(normalize=True)

NAME_CONTRACT_TYPE
Cash loans         0.447672
Consumer loans     0.436652
Revolving loans    0.115676
Name: proportion, dtype: float64

##### <span style="color:#a8dbc9d1;">Fill XNA in `NAME_YILED_GROUP` using NAME_CONTRACT_TYPE,PRODUCT_COMBINATION,NAME_PORTFOLIO

In [128]:
# def classify_yield_group_final(row):
#     # --- Extract & clean features ---
#     contract = str(row.get('NAME_CONTRACT_TYPE', '')).lower()
#     product = str(row.get('PRODUCT_COMBINATION', '')).lower()
#     portfolio = str(row.get('NAME_PORTFOLIO', '')).lower()
#     client_type = str(row.get('NAME_CLIENT_TYPE', '')).lower()
#     channel = str(row.get('CHANNEL_TYPE', '')).lower()

#     annuity = row.get('AMT_ANNUITY')
#     annuity = float(annuity) if annuity not in [None, ''] else 0.0

#     payments = row.get('CNT_PAYMENT')
#     payments = int(payments) if payments not in [None, ''] else 999

#     if 'high' in product:
#         return 'High'
#     elif 'middle' in product:
#         return 'Middle'
#     elif 'low' in product:
#         return 'Low'

#     if 'with' in product:
#         if payments <= 12:
#             return 'High'
#         elif payments > 36:
#             return 'Low'
#         else:
#             return 'Middle'
#     elif 'without' in product:
#         if annuity > 25000:
#             return 'Middle'
#         else:
#             return 'Low'

#     if 'revolving' in contract:
#         if client_type == 'new':
#             return 'High'
#         elif client_type in ('repeater', 'refreshed'):
#             if portfolio == 'pos':
#                 return 'Middle'
#             elif portfolio == 'cash':
#                 return 'Low'
#             else:
#                 return 'Middle'
#         else:
#             if payments <= 12:
#                 return 'High'
#             elif payments <= 24:
#                 return 'Middle'
#             else:
#                 return 'Low'

#     if 'pos' in portfolio:
#         return 'Middle'
#     elif 'cash' in portfolio:
#         if annuity > 30000:
#             return 'Middle'
#         else:
#             return 'Low'
#     elif 'cards' in portfolio:
#         return 'High'

#     if 'credit and cash' in channel:
#         return 'High'
#     elif 'country-wide' in channel:
#         return 'Middle'
#     elif 'contact center' in channel:
#         return 'Low'

#     return 'Unknown'