<h1 style="
  font-size: 55px; 
  text-align: center; 
  font-family: 'Poppins', sans-serif; 
  text-shadow: 2px 2px 5px rgba(63, 155, 77, 0.84);
  letter-spacing: 2px;
">
  <b>ðŸ“Š Previous Dataset</b>
</h1>
<hr style="width: 60%; border: 2px solid #21996fd1; border-radius: 5px;">

In [83]:
import numpy as np
import pandas as pd

In [84]:
df = pd.read_csv("previous_application.csv")

## <span style="color:#21996fd1;">**1- Initial Exploration  & EDA**
---

In [85]:
df.shape

(1670214, 37)

In [86]:
df.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [88]:
df.describe()

,SK_ID_PREV,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,...,RATE_INTEREST_PRIVILEGED,DAYS_DECISION,SELLERPLACE_AREA,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
count,1.670214e+06,1.670214e+06,1.297979e+06,1.670214e+06,1.670213e+06,7.743700e+05,1.284699e+06,1.670214e+06,1.670214e+06,774370.000000,...,5951.000000,1.670214e+06,1.670214e+06,1.297984e+06,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000
mean,1.923089e+06,2.783572e+05,1.595512e+04,1.752339e+05,1.961140e+05,6.697402e+03,2.278473e+05,1.248418e+01,9.964675e-01,0.079637,...,0.773503,-8.806797e+02,3.139511e+02,1.605408e+01,342209.855039,13826.269337,33767.774054,76582.403064,81992.343838,0.332570
std,5.325980e+05,1.028148e+05,1.478214e+04,2.927798e+05,3.185746e+05,2.092150e+04,3.153966e+05,3.334028e+00,5.932963e-02,0.107823,...,0.100879,7.790997e+02,7.127443e+03,1.456729e+01,88916.115834,72444.869708,106857.034789,149647.415123,153303.516729,0.471134
min,1.000001e+06,1.000010e+05,0.000000e+00,0.000000e+00,0.000000e+00,-9.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,-0.000015,...,0.373150,-2.922000e+03,-1.000000e+00,0.000000e+00,-2922.000000,-2892.000000,-2801.000000,-2889.000000,-2874.000000,0.000000
25%,1.461857e+06,1.893290e+05,6.321780e+03,1.872000e+04,2.416050e+04,0.000000e+00,5.084100e+04,1.000000e+01,1.000000e+00,0.000000,...,0.715645,-1.300000e+03,-1.000000e+00,6.000000e+00,365243.000000,-1628.000000,-1242.000000,-1314.000000,-1270.000000,0.000000
50%,1.923110e+06,2.787145e+05,1.125000e+04,7.104600e+04,8.054100e+04,1.638000e+03,1.123200e+05,1.200000e+01,1.000000e+00,0.051605,...,0.835095,-5.810000e+02,3.000000e+00,1.200000e+01,365243.000000,-831.000000,-361.000000,-537.000000,-499.000000,0.000000
75%,2.384280e+06,3.675140e+05,2.065842e+04,1.803600e+05,2.164185e+05,7.740000e+03,2.340000e+05,1.500000e+01,1.000000e+00,0.108909,...,0.852537,-2.800000e+02,8.200000e+01,2.400000e+01,365243.000000,-411.000000,129.000000,-74.000000,-44.000000,1.000000
max,2.845382e+06,4.562550e+05,4.180581e+05,6.905160e+06,6.905160e+06,3.060045e+06,6.905160e+06,2.300000e+01,1.000000e+00,1.000000,...,1.000000,-1.000000e+00,4.000000e+06,8.400000e+01,365243.000000,365243.000000,365243.000000,365243.000000,365243.000000,1.000000

##### <span style="color:#7dc7add1;">**Show Null Percentage in Every Column**

In [89]:
null_percents = df.isnull().mean() * 100
sorted_nulls = null_percents.sort_values(ascending=False)
max_col_length = max(len(col) for col in df.columns)

print(f"{'Column Name'.ljust(max_col_length)} | Null %")
print("-" * (max_col_length + 10))

for col, percent in sorted_nulls.items():
    print(f"{col.ljust(max_col_length)} | {percent:6.4f}%")

Column Name                 | Null %
-------------------------------------
RATE_INTEREST_PRIVILEGED    | 99.6437%
RATE_INTEREST_PRIMARY       | 99.6437%
AMT_DOWN_PAYMENT            | 53.6365%
RATE_DOWN_PAYMENT           | 53.6365%
NAME_TYPE_SUITE             | 49.1198%
DAYS_TERMINATION            | 40.2981%
DAYS_FIRST_DRAWING          | 40.2981%
DAYS_FIRST_DUE              | 40.2981%
DAYS_LAST_DUE_1ST_VERSION   | 40.2981%
DAYS_LAST_DUE               | 40.2981%
NFLAG_INSURED_ON_APPROVAL   | 40.2981%
AMT_GOODS_PRICE             | 23.0818%
AMT_ANNUITY                 | 22.2867%
CNT_PAYMENT                 | 22.2864%
PRODUCT_COMBINATION         | 0.0207%
AMT_CREDIT                  | 0.0001%
SK_ID_PREV                  | 0.0000%
AMT_APPLICATION             | 0.0000%
NAME_CONTRACT_TYPE          | 0.0000%
SK_ID_CURR                  | 0.0000%
WEEKDAY_APPR_PROCESS_START  | 0.0000%
CODE_REJECT_REASON          | 0.0000%
NAME_PAYMENT_TYPE           | 0.0000%
DAYS_DECISION               | 0.0000%
NAME_CONTRACT_STATUS        | 0.0000%
NAME_CASH_LOAN_PURPOSE      | 0.0000%
HOUR_APPR_PROCESS_START     | 0.0000%
FLAG_LAST_APPL_PER_CONTRACT | 0.0000%
NFLAG_LAST_APPL_IN_DAY      | 0.0000%
NAME_SELLER_INDUSTRY        | 0.0000%
SELLERPLACE_AREA            | 0.0000%
CHANNEL_TYPE                | 0.0000%
NAME_PRODUCT_TYPE           | 0.0000%
NAME_GOODS_CATEGORY         | 0.0000%
NAME_PORTFOLIO              | 0.0000%
NAME_CLIENT_TYPE            | 0.0000%
NAME_YIELD_GROUP            | 0.0000%

## <span style="color:#21996fd1;"> **2- Data Cleaning**
---

### <span style="color:#7dc7add1;">**=> Handling Duplicates**

In [143]:
df.duplicated().sum()

np.int64(75737)

In [144]:
df.drop_duplicates(inplace=True)

In [145]:
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,NAME_CLIENT_TYPE,NAME_PORTFOLIO,CHANNEL_TYPE,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,HAS_LOAN_ACTIVITY
0,271877,Consumer loans,1730.430,17145.0,17145.0,17145.0,SATURDAY,Approved,73,Cash through the bank,Repeater,POS,Country-wide,12.0,middle,POS mobile with interest,1
1,108129,Cash loans,25188.615,607500.0,679671.0,607500.0,THURSDAY,Approved,164,Cash through the bank,Repeater,Cash,Contact center,36.0,low,Cash X-Sell: low,1
2,122040,Cash loans,15060.735,112500.0,136444.5,112500.0,TUESDAY,Approved,301,Cash through the bank,Repeater,Cash,Credit and cash offices,12.0,high,Cash X-Sell: high,1
3,176158,Cash loans,47041.335,450000.0,470790.0,450000.0,MONDAY,Approved,512,Cash through the bank,Repeater,Cash,Credit and cash offices,12.0,middle,Cash X-Sell: middle,1
4,202054,Cash loans,31924.395,337500.0,404055.0,337500.0,THURSDAY,Refused,781,Cash through the bank,Repeater,Cash,Credit and cash offices,24.0,high,Cash Street: high,0

In [146]:
df.drop('PRODUCT_COMBINATION',axis=1,inplace=True)

In [147]:
df.shape

(1594130, 16)

In [148]:
import numpy as np

eps = 1e-9

cols = ["AMT_CREDIT", "AMT_GOODS_PRICE", "AMT_ANNUITY", "AMT_APPLICATION", "CNT_PAYMENT"]
for c in cols:
    if c in df.columns:
        df[c] = df[c].fillna(df[c].median())   # <-- ØªØµØ­ÙŠØ­ Ù…Ù‡Ù…

df["CREDIT_GOODS_RATIO"] = df["AMT_CREDIT"] / (df["AMT_GOODS_PRICE"] + eps)
df["ANNUITY_CREDIT_RATIO"] = df["AMT_ANNUITY"] / (df["AMT_CREDIT"] + eps)
df["APPLICATION_CREDIT_RATIO"] = df["AMT_APPLICATION"] / (df["AMT_CREDIT"] + eps)
df["ANNUITY_APPLICATION_RATIO"] = df["AMT_ANNUITY"] / (df["AMT_APPLICATION"] + eps)
df["INSTALMENT_CREDIT_RATIO"] = df["CNT_PAYMENT"] / (df["AMT_CREDIT"] + eps)

ratio_cols = [
    "CREDIT_GOODS_RATIO",
    "ANNUITY_CREDIT_RATIO",
    "APPLICATION_CREDIT_RATIO",
    "ANNUITY_APPLICATION_RATIO",
    "INSTALMENT_CREDIT_RATIO"
]

for c in ratio_cols:
    low = df[c].quantile(0.005)
    high = df[c].quantile(0.995)
    df[c] = df[c].clip(low, high)

In [149]:
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,...,NAME_PORTFOLIO,CHANNEL_TYPE,CNT_PAYMENT,NAME_YIELD_GROUP,HAS_LOAN_ACTIVITY,CREDIT_GOODS_RATIO,ANNUITY_CREDIT_RATIO,APPLICATION_CREDIT_RATIO,ANNUITY_APPLICATION_RATIO,INSTALMENT_CREDIT_RATIO
0,271877,Consumer loans,1730.430,17145.0,17145.0,17145.0,SATURDAY,Approved,73,Cash through the bank,...,POS,Country-wide,12.0,middle,1,1.00000,0.100929,1.000000,0.100929,0.000700
1,108129,Cash loans,25188.615,607500.0,679671.0,607500.0,THURSDAY,Approved,164,Cash through the bank,...,Cash,Contact center,36.0,low,1,1.11880,0.037060,0.893815,0.041463,0.000053
2,122040,Cash loans,15060.735,112500.0,136444.5,112500.0,TUESDAY,Approved,301,Cash through the bank,...,Cash,Credit and cash offices,12.0,high,1,1.21284,0.110380,0.824511,0.133873,0.000088
3,176158,Cash loans,47041.335,450000.0,470790.0,450000.0,MONDAY,Approved,512,Cash through the bank,...,Cash,Credit and cash offices,12.0,middle,1,1.04620,0.099920,0.955840,0.104536,0.000025
4,202054,Cash loans,31924.395,337500.0,404055.0,337500.0,THURSDAY,Refused,781,Cash through the bank,...,Cash,Credit and cash offices,24.0,high,0,1.19720,0.079010,0.835282,0.094591,0.000059

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1594130 entries, 0 to 1670213
Data columns (total 21 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   SK_ID_CURR                  1594130 non-null  int64
 1   NAME_CONTRACT_TYPE          1594130 non-null  object
 2   AMT_ANNUITY                 1594130 non-null  float64
 3   AMT_APPLICATION             1594130 non-null  float64
 4   AMT_CREDIT                  1594130 non-null  float64
 5   AMT_GOODS_PRICE             1594130 non-null  float64
 6   WEEKDAY_APPR_PROCESS_START  1594130 non-null  object
 7   NAME_CONTRACT_STATUS        1594130 non-null  object
 8   DAYS_DECISION               1594130 non-null  int64
 9   NAME_PAYMENT_TYPE           1594130 non-null  object
 10  NAME_CLIENT_TYPE            1594130 non-null  object
 11  NAME_PORTFOLIO              1594130 non-null  object
 12  CHANNEL_TYPE                1594130 non-null  object
 13  CNT_PAYMENT                 1594130 non-null  float64
 14  NAME_YIELD_GROUP            1594130 non-null  object
 15  HAS_LOAN_ACTIVITY           1594130 non-null  int64
 16  CREDIT_GOODS_RATIO          1594130 non-null  float64
 17  ANNUITY_CREDIT_RATIO        1594130 non-null  float64
 18  APPLICATION_CREDIT_RATIO    1594130 non-null  float64
 19  ANNUITY_APPLICATION_RATIO   1594130 non-null  float64
 20  INSTALMENT_CREDIT_RATIO     1594130 non-null  float64
dtypes: float64(10), int64(3), object(8)
memory usage: 267.6+ MB

In [151]:
import numpy as np
import pandas as pd
from numba import njit

@njit
def rolling_mean_last_x_days(days, credit, window):
    n = len(days)
    result = np.zeros(n)
    for i in range(n):
        d0 = days[i]
        total = 0.0
        count = 0
        for j in range(i, -1, -1):
            diff = d0 - days[j]
            if diff <= window and diff >= 0:
                total += credit[j]
                count += 1
            else:
                break
        result[i] = total / count
    return result


df = df.sort_values(["SK_ID_CURR", "DAYS_DECISION"])

df["MEAN_CREDIT_3M"] = np.nan  # Ø¨Ù†Ø­Ø³Ø¨ Ù…ØªÙˆØ³Ø· Ù…Ø¨Ù„Øº Ø§Ù„Ù‚Ø±ÙˆØ¶ Ø®Ù„Ø§Ù„ Ø¢Ø®Ø± 90 ÙŠÙˆÙ… Ù„Ù†ÙØ³ Ø§Ù„Ø¹Ù…ÙŠÙ„ 

for cust_id, group in df.groupby("SK_ID_CURR"):
    idx = group.index
    days = group["DAYS_DECISION"].values.astype(np.int64)
    credit = group["AMT_CREDIT"].values.astype(np.float64)

    df.loc[idx, "MEAN_CREDIT_3M"] = rolling_mean_last_x_days(days, credit, 90)
eps = 1e-9

df["CREDIT_3M_TO_LAST_RATIO"] = df["MEAN_CREDIT_3M"] / (df["AMT_CREDIT"] + eps)

# Ø¨Ù†Ù‚Ø³Ù‘Ù… Ø§Ù„Ù…ØªÙˆØ³Ø· Ø¯Ù‡ Ø¹Ù„Ù‰ Ù‚ÙŠÙ…Ø© Ø§Ù„Ù‚Ø±Ø¶ Ø§Ù„Ø­Ø§Ù„ÙŠ 
# Ø¹Ù„Ø´Ø§Ù† Ù†Ø¹Ø±Ù Ø§Ù„Ù‚Ø±Ø¶ Ø§Ù„Ø­Ø§Ù„ÙŠ ÙƒØ¨ÙŠØ± ÙˆÙ„Ø§ ØµØºÙŠØ± Ù…Ù‚Ø§Ø±Ù†Ø© Ø¨Ø§Ù„Ù‚Ø±ÙˆØ¶ Ø§Ù„Ù„ÙŠ Ø£Ø®Ø¯Ù‡Ø§ ÙÙŠ Ø¢Ø®Ø± 3 Ø´Ù‡ÙˆØ± 

df.drop(columns=["MEAN_CREDIT_3M"], inplace=True, errors="ignore")

In [152]:
df.head(10)

,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,...,CHANNEL_TYPE,CNT_PAYMENT,NAME_YIELD_GROUP,HAS_LOAN_ACTIVITY,CREDIT_GOODS_RATIO,ANNUITY_CREDIT_RATIO,APPLICATION_CREDIT_RATIO,ANNUITY_APPLICATION_RATIO,INSTALMENT_CREDIT_RATIO,CREDIT_3M_TO_LAST_RATIO
201668,100001,Consumer loans,3951.000000,24835.5,23787.0,24835.5,FRIDAY,Approved,1740,Cash through the bank,...,Country-wide,8.0,high,1,0.957782,1.660991e-01,1.044079,1.590868e-01,3.363182e-04,1.000000e+00
892077,100002,Consumer loans,9251.775000,179055.0,179055.0,179055.0,SATURDAY,Approved,606,Cash through the bank,...,Stone,24.0,low,1,1.000000,5.167002e-02,1.000000,5.167002e-02,1.340370e-04,1.000000e+00
575941,100003,Cash loans,98356.995000,900000.0,1035882.0,900000.0,FRIDAY,Approved,746,Cash through the bank,...,Credit and cash offices,12.0,low,1,1.150980,9.495000e-02,0.868825,1.092855e-01,1.158433e-05,1.000000e+00
1021650,100003,Consumer loans,64567.665000,337500.0,348637.5,337500.0,SUNDAY,Approved,828,Cash through the bank,...,Stone,6.0,middle,1,1.033000,1.852000e-01,0.968054,1.913116e-01,1.720985e-05,1.985615e+00
1223745,100003,Consumer loans,6737.310000,68809.5,68053.5,68809.5,SATURDAY,Approved,2341,Cash through the bank,...,Country-wide,12.0,middle,1,0.989013,9.900020e-02,1.011109,9.791250e-02,1.763319e-04,1.000000e+00
935548,100004,Consumer loans,5357.250000,24282.0,20106.0,24282.0,FRIDAY,Approved,815,Cash through the bank,...,Regional / Local,4.0,middle,1,0.828021,2.664503e-01,1.207699,2.206264e-01,1.989456e-04,1.000000e+00
1259112,100005,Cash loans,26119.824414,0.0,0.0,279000.0,FRIDAY,Canceled,315,Cash through the bank,...,Credit and cash offices,24.0,high,0,0.000000,2.611982e+13,0.000000,2.611982e+13,2.400000e+10,0.000000e+00
1378978,100005,Consumer loans,4813.200000,44617.5,40153.5,44617.5,THURSDAY,Approved,757,Cash through the bank,...,Country-wide,12.0,high,1,0.899950,1.198700e-01,1.111173,1.078770e-01,2.988532e-04,1.000000e+00
98162,100006,Cash loans,24246.000000,675000.0,675000.0,675000.0,THURSDAY,Approved,181,Cash through the bank,...,Credit and cash offices,48.0,low,1,1.000000,3.592000e-02,1.000000,3.592000e-02,7.111111e-05,1.000000e+00
617859,100006,Revolving loans,11384.791115,0.0,0.0,135000.0,THURSDAY,Canceled,181,UNKOWN,...,Credit and cash offices,0.0,low,0,0.000000,1.138479e+13,0.000000,1.138479e+13,0.000000e+00,3.375000e+14

In [153]:
df.drop(columns=[
    "AMT_CREDIT",
    "AMT_GOODS_PRICE",
    "AMT_ANNUITY",
    "AMT_APPLICATION",
    "CNT_PAYMENT",
    "DAYS_DECISION"
], inplace=True, errors="ignore")

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1594130 entries, 201668 to 214743
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   SK_ID_CURR                  1594130 non-null  int64
 1   NAME_CONTRACT_TYPE          1594130 non-null  object
 2   WEEKDAY_APPR_PROCESS_START  1594130 non-null  object
 3   NAME_CONTRACT_STATUS        1594130 non-null  object
 4   NAME_PAYMENT_TYPE           1594130 non-null  object
 5   NAME_CLIENT_TYPE            1594130 non-null  object
 6   NAME_PORTFOLIO              1594130 non-null  object
 7   CHANNEL_TYPE                1594130 non-null  object
 8   NAME_YIELD_GROUP            1594130 non-null  object
 9   HAS_LOAN_ACTIVITY           1594130 non-null  int64
 10  CREDIT_GOODS_RATIO          1594130 non-null  float64
 11  ANNUITY_CREDIT_RATIO        1594130 non-null  float64
 12  APPLICATION_CREDIT_RATIO    1594130 non-null  float64
 13  ANNUITY_APPLICATION_RATIO   1594130 non-null  float64
 14  INSTALMENT_CREDIT_RATIO     1594130 non-null  float64
 15  CREDIT_3M_TO_LAST_RATIO     1594130 non-null  float64
dtypes: float64(6), int64(2), object(8)
memory usage: 239.0+ MB

In [156]:
agg = df.groupby("SK_ID_CURR").agg({
    "CREDIT_GOODS_RATIO": ["mean", "max", "min", "std"],
    "ANNUITY_CREDIT_RATIO": ["mean", "max", "min", "std"],
    "APPLICATION_CREDIT_RATIO": ["mean", "max", "min", "std"],
    "ANNUITY_APPLICATION_RATIO": ["mean", "max", "min", "std"],
    "INSTALMENT_CREDIT_RATIO": ["mean", "max", "min", "std"],
    "CREDIT_3M_TO_LAST_RATIO": ["mean", "max", "min", "std"]
})

agg.columns = ["_".join(col).upper() for col in agg.columns]
agg.reset_index(inplace=True)

In [157]:
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,WEEKDAY_APPR_PROCESS_START,NAME_CONTRACT_STATUS,NAME_PAYMENT_TYPE,NAME_CLIENT_TYPE,NAME_PORTFOLIO,CHANNEL_TYPE,NAME_YIELD_GROUP,HAS_LOAN_ACTIVITY,CREDIT_GOODS_RATIO,ANNUITY_CREDIT_RATIO,APPLICATION_CREDIT_RATIO,ANNUITY_APPLICATION_RATIO,INSTALMENT_CREDIT_RATIO,CREDIT_3M_TO_LAST_RATIO
201668,100001,Consumer loans,FRIDAY,Approved,Cash through the bank,Refreshed,POS,Country-wide,high,1,0.957782,0.166099,1.044079,0.159087,0.000336,1.000000
892077,100002,Consumer loans,SATURDAY,Approved,Cash through the bank,New,POS,Stone,low,1,1.000000,0.051670,1.000000,0.051670,0.000134,1.000000
575941,100003,Cash loans,FRIDAY,Approved,Cash through the bank,Repeater,Cash,Credit and cash offices,low,1,1.150980,0.094950,0.868825,0.109286,0.000012,1.000000
1021650,100003,Consumer loans,SUNDAY,Approved,Cash through the bank,Refreshed,POS,Stone,middle,1,1.033000,0.185200,0.968054,0.191312,0.000017,1.985615
1223745,100003,Consumer loans,SATURDAY,Approved,Cash through the bank,Refreshed,POS,Country-wide,middle,1,0.989013,0.099000,1.011109,0.097912,0.000176,1.000000

In [158]:
agg.head()

,SK_ID_CURR,CREDIT_GOODS_RATIO_MEAN,CREDIT_GOODS_RATIO_MAX,CREDIT_GOODS_RATIO_MIN,CREDIT_GOODS_RATIO_STD,ANNUITY_CREDIT_RATIO_MEAN,ANNUITY_CREDIT_RATIO_MAX,ANNUITY_CREDIT_RATIO_MIN,ANNUITY_CREDIT_RATIO_STD,APPLICATION_CREDIT_RATIO_MEAN,...,ANNUITY_APPLICATION_RATIO_MIN,ANNUITY_APPLICATION_RATIO_STD,INSTALMENT_CREDIT_RATIO_MEAN,INSTALMENT_CREDIT_RATIO_MAX,INSTALMENT_CREDIT_RATIO_MIN,INSTALMENT_CREDIT_RATIO_STD,CREDIT_3M_TO_LAST_RATIO_MEAN,CREDIT_3M_TO_LAST_RATIO_MAX,CREDIT_3M_TO_LAST_RATIO_MIN,CREDIT_3M_TO_LAST_RATIO_STD
0,100001,0.957782,0.957782,0.957782,NaN,1.660991e-01,1.660991e-01,0.166099,NaN,1.044079,...,0.159087,NaN,3.363182e-04,3.363182e-04,0.000336,NaN,1.000000,1.000000,1.0,NaN
1,100002,1.000000,1.000000,1.000000,NaN,5.167002e-02,5.167002e-02,0.051670,NaN,1.000000,...,0.051670,NaN,1.340370e-04,1.340370e-04,0.000134,NaN,1.000000,1.000000,1.0,NaN
2,100003,1.057664,1.150980,0.989013,0.083753,1.263834e-01,1.852000e-01,0.094950,5.097691e-02,0.949329,...,0.097912,5.095915e-02,6.837535e-05,1.763319e-04,0.000012,9.353538e-05,1.328538,1.985615,1.0,0.569045
3,100004,0.828021,0.828021,0.828021,NaN,2.664503e-01,2.664503e-01,0.266450,NaN,1.207699,...,0.220626,NaN,1.989456e-04,1.989456e-04,0.000199,NaN,1.000000,1.000000,1.0,NaN
4,100005,0.449975,0.899950,0.000000,0.636360,1.305991e+13,2.611982e+13,0.119870,1.846950e+13,0.555587,...,0.107877,1.846950e+13,1.200000e+10,2.400000e+10,0.000299,1.697056e+10,0.500000,1.000000,0.0,0.707107

In [159]:
agg.isna().sum()

SK_ID_CURR                            0
CREDIT_GOODS_RATIO_MEAN               0
CREDIT_GOODS_RATIO_MAX                0
CREDIT_GOODS_RATIO_MIN                0
CREDIT_GOODS_RATIO_STD            60507
ANNUITY_CREDIT_RATIO_MEAN             0
ANNUITY_CREDIT_RATIO_MAX              0
ANNUITY_CREDIT_RATIO_MIN              0
ANNUITY_CREDIT_RATIO_STD          60507
APPLICATION_CREDIT_RATIO_MEAN         0
APPLICATION_CREDIT_RATIO_MAX          0
APPLICATION_CREDIT_RATIO_MIN          0
APPLICATION_CREDIT_RATIO_STD      60507
ANNUITY_APPLICATION_RATIO_MEAN        0
ANNUITY_APPLICATION_RATIO_MAX         0
ANNUITY_APPLICATION_RATIO_MIN         0
ANNUITY_APPLICATION_RATIO_STD     60507
INSTALMENT_CREDIT_RATIO_MEAN          0
INSTALMENT_CREDIT_RATIO_MAX           0
INSTALMENT_CREDIT_RATIO_MIN           0
INSTALMENT_CREDIT_RATIO_STD       60507
CREDIT_3M_TO_LAST_RATIO_MEAN          0
CREDIT_3M_TO_LAST_RATIO_MAX           0
CREDIT_3M_TO_LAST_RATIO_MIN           0
CREDIT_3M_TO_LAST_RATIO_STD       60507
dtype: int64

In [160]:
agg.to_csv("cleaned_previous.csv", index=False)