In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## <span style="color:#21996fd1;">**1- Initial Exploration  & EDA**
---

In [25]:
df=pd.read_csv("../../application_data.csv")

In [26]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
df.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [28]:
df.shape

(307511, 122)

In [29]:
null_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

for i in range(0, len(null_percent), 25):
    print(f"\nðŸ“Š Columns {i+1} to {min(i+25, len(null_percent))}:\n")
    print(null_percent.iloc[i:i+25])

ðŸ“Š Columns 1 to 25:

COMMONAREA_AVG              69.872297
COMMONAREA_MODE             69.872297
COMMONAREA_MEDI             69.872297
NONLIVINGAPARTMENTS_MEDI    69.432963
NONLIVINGAPARTMENTS_MODE    69.432963
NONLIVINGAPARTMENTS_AVG     69.432963
FONDKAPREMONT_MODE          68.386172
LIVINGAPARTMENTS_AVG        68.354953
LIVINGAPARTMENTS_MEDI       68.354953
LIVINGAPARTMENTS_MODE       68.354953
FLOORSMIN_MODE              67.848630
FLOORSMIN_AVG               67.848630
FLOORSMIN_MEDI              67.848630
YEARS_BUILD_AVG             66.497784
YEARS_BUILD_MODE            66.497784
YEARS_BUILD_MEDI            66.497784
OWN_CAR_AGE                 65.990810
LANDAREA_MEDI               59.376738
LANDAREA_AVG                59.376738
LANDAREA_MODE               59.376738
BASEMENTAREA_MODE           58.515956
BASEMENTAREA_MEDI           58.515956
BASEMENTAREA_AVG            58.515956
EXT_SOURCE_1                56.381073
NONLIVINGAREA_MODE          55.179164
dtype: float64

ðŸ“Š Columns 26 to 50:

NONLIVINGAREA_AVG               55.179164
NONLIVINGAREA_MEDI              55.179164
ELEVATORS_AVG                   53.295980
ELEVATORS_MEDI                  53.295980
ELEVATORS_MODE                  53.295980
WALLSMATERIAL_MODE              50.840783
APARTMENTS_AVG                  50.749729
APARTMENTS_MEDI                 50.749729
APARTMENTS_MODE                 50.749729
ENTRANCES_MODE                  50.348768
ENTRANCES_MEDI                  50.348768
ENTRANCES_AVG                   50.348768
LIVINGAREA_AVG                  50.193326
LIVINGAREA_MEDI                 50.193326
LIVINGAREA_MODE                 50.193326
HOUSETYPE_MODE                  50.176091
FLOORSMAX_MODE                  49.760822
FLOORSMAX_AVG                   49.760822
FLOORSMAX_MEDI                  49.760822
YEARS_BEGINEXPLUATATION_MODE    48.781019
YEARS_BEGINEXPLUATATION_MEDI    48.781019
YEARS_BEGINEXPLUATATION_AVG     48.781019
TOTALAREA_MODE                  48.268517
EMERGENCYSTATE_MODE             47.398304
OCCUPATION_TYPE                 31.345545
dtype: float64

ðŸ“Š Columns 51 to 75:

EXT_SOURCE_3                   19.825307
AMT_REQ_CREDIT_BUREAU_HOUR     13.501631
AMT_REQ_CREDIT_BUREAU_WEEK     13.501631
AMT_REQ_CREDIT_BUREAU_MON      13.501631
AMT_REQ_CREDIT_BUREAU_YEAR     13.501631
AMT_REQ_CREDIT_BUREAU_DAY      13.501631
AMT_REQ_CREDIT_BUREAU_QRT      13.501631
NAME_TYPE_SUITE                 0.420148
DEF_60_CNT_SOCIAL_CIRCLE        0.332021
OBS_60_CNT_SOCIAL_CIRCLE        0.332021
DEF_30_CNT_SOCIAL_CIRCLE        0.332021
OBS_30_CNT_SOCIAL_CIRCLE        0.332021
EXT_SOURCE_2                    0.214626
AMT_GOODS_PRICE                 0.090403
AMT_ANNUITY                     0.003902
CNT_FAM_MEMBERS                 0.000650
DAYS_LAST_PHONE_CHANGE          0.000325
HOUR_APPR_PROCESS_START         0.000000
LIVE_REGION_NOT_WORK_REGION     0.000000
REG_REGION_NOT_LIVE_REGION      0.000000
ORGANIZATION_TYPE               0.000000
NAME_CONTRACT_TYPE              0.000000
FLAG_OWN_CAR                    0.000000
SK_ID_CURR                      0.000000
AMT_CREDIT                      0.000000
dtype: float64

ðŸ“Š Columns 76 to 100:

AMT_INCOME_TOTAL               0.0
CNT_CHILDREN                   0.0
NAME_INCOME_TYPE               0.0
NAME_FAMILY_STATUS             0.0
NAME_HOUSING_TYPE              0.0
REGION_POPULATION_RELATIVE     0.0
NAME_EDUCATION_TYPE            0.0
DAYS_BIRTH                     0.0
DAYS_EMPLOYED                  0.0
DAYS_REGISTRATION              0.0
DAYS_ID_PUBLISH                0.0
FLAG_MOBIL                     0.0
FLAG_EMP_PHONE                 0.0
FLAG_WORK_PHONE                0.0
FLAG_CONT_MOBILE               0.0
CODE_GENDER                    0.0
TARGET                         0.0
FLAG_OWN_REALTY                0.0
FLAG_EMAIL                     0.0
REGION_RATING_CLIENT           0.0
REGION_RATING_CLIENT_W_CITY    0.0
WEEKDAY_APPR_PROCESS_START     0.0
FLAG_PHONE                     0.0
REG_CITY_NOT_LIVE_CITY         0.0
REG_CITY_NOT_WORK_CITY         0.0
dtype: float64

ðŸ“Š Columns 101 to 122:

LIVE_CITY_NOT_WORK_CITY       0.0
REG_REGION_NOT_WORK_REGION    0.0
FLAG_DOCUMENT_4               0.0
FLAG_DOCUMENT_5               0.0
FLAG_DOCUMENT_2               0.0
FLAG_DOCUMENT_3               0.0
FLAG_DOCUMENT_11              0.0
FLAG_DOCUMENT_10              0.0
FLAG_DOCUMENT_9               0.0
FLAG_DOCUMENT_8               0.0
FLAG_DOCUMENT_7               0.0
FLAG_DOCUMENT_6               0.0
FLAG_DOCUMENT_12              0.0
FLAG_DOCUMENT_13              0.0
FLAG_DOCUMENT_19              0.0
FLAG_DOCUMENT_18              0.0
FLAG_DOCUMENT_17              0.0
FLAG_DOCUMENT_16              0.0
FLAG_DOCUMENT_15              0.0
FLAG_DOCUMENT_14              0.0
FLAG_DOCUMENT_20              0.0
FLAG_DOCUMENT_21              0.0
dtype: float64

## <span style="color:#21996fd1;"> **2- Data Cleaning**
---

In [30]:
df = df.drop(columns=null_percent.head(25).index)

In [31]:
null_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

for i in range(0, len(null_percent), 25):
    print(f"\nðŸ“Š Columns {i+1} to {min(i+25, len(null_percent))}:\n")
    print(null_percent.iloc[i:i+25])

ðŸ“Š Columns 1 to 25:

NONLIVINGAREA_AVG               55.179164
NONLIVINGAREA_MEDI              55.179164
ELEVATORS_MODE                  53.295980
ELEVATORS_AVG                   53.295980
ELEVATORS_MEDI                  53.295980
WALLSMATERIAL_MODE              50.840783
APARTMENTS_AVG                  50.749729
APARTMENTS_MEDI                 50.749729
APARTMENTS_MODE                 50.749729
ENTRANCES_AVG                   50.348768
ENTRANCES_MODE                  50.348768
ENTRANCES_MEDI                  50.348768
LIVINGAREA_AVG                  50.193326
LIVINGAREA_MEDI                 50.193326
LIVINGAREA_MODE                 50.193326
HOUSETYPE_MODE                  50.176091
FLOORSMAX_MEDI                  49.760822
FLOORSMAX_MODE                  49.760822
FLOORSMAX_AVG                   49.760822
YEARS_BEGINEXPLUATATION_AVG     48.781019
YEARS_BEGINEXPLUATATION_MEDI    48.781019
YEARS_BEGINEXPLUATATION_MODE    48.781019
TOTALAREA_MODE                  48.268517
EMERGENCYSTATE_MODE             47.398304
OCCUPATION_TYPE                 31.345545
dtype: float64

ðŸ“Š Columns 26 to 50:

EXT_SOURCE_3                  19.825307
AMT_REQ_CREDIT_BUREAU_MON     13.501631
AMT_REQ_CREDIT_BUREAU_DAY     13.501631
AMT_REQ_CREDIT_BUREAU_QRT     13.501631
AMT_REQ_CREDIT_BUREAU_HOUR    13.501631
AMT_REQ_CREDIT_BUREAU_WEEK    13.501631
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
NAME_TYPE_SUITE                0.420148
DEF_60_CNT_SOCIAL_CIRCLE       0.332021
OBS_60_CNT_SOCIAL_CIRCLE       0.332021
DEF_30_CNT_SOCIAL_CIRCLE       0.332021
OBS_30_CNT_SOCIAL_CIRCLE       0.332021
EXT_SOURCE_2                   0.214626
AMT_GOODS_PRICE                0.090403
AMT_ANNUITY                    0.003902
CNT_FAM_MEMBERS                0.000650
DAYS_LAST_PHONE_CHANGE         0.000325
DAYS_REGISTRATION              0.000000
FLAG_EMP_PHONE                 0.000000
FLAG_MOBIL                     0.000000
DAYS_ID_PUBLISH                0.000000
FLAG_EMAIL                     0.000000
FLAG_WORK_PHONE                0.000000
FLAG_CONT_MOBILE               0.000000
FLAG_OWN_CAR                   0.000000
dtype: float64

ðŸ“Š Columns 51 to 75:

CODE_GENDER                    0.0
NAME_FAMILY_STATUS             0.0
NAME_EDUCATION_TYPE            0.0
NAME_INCOME_TYPE               0.0
CNT_CHILDREN                   0.0
AMT_INCOME_TOTAL               0.0
AMT_CREDIT                     0.0
TARGET                         0.0
FLAG_OWN_REALTY                0.0
NAME_CONTRACT_TYPE             0.0
SK_ID_CURR                     0.0
DAYS_EMPLOYED                  0.0
DAYS_BIRTH                     0.0
NAME_HOUSING_TYPE              0.0
REGION_POPULATION_RELATIVE     0.0
HOUR_APPR_PROCESS_START        0.0
WEEKDAY_APPR_PROCESS_START     0.0
REGION_RATING_CLIENT_W_CITY    0.0
REGION_RATING_CLIENT           0.0
FLAG_PHONE                     0.0
REG_REGION_NOT_LIVE_REGION     0.0
REG_CITY_NOT_LIVE_CITY         0.0
LIVE_REGION_NOT_WORK_REGION    0.0
REG_REGION_NOT_WORK_REGION     0.0
ORGANIZATION_TYPE              0.0
dtype: float64

ðŸ“Š Columns 76 to 97:

REG_CITY_NOT_WORK_CITY     0.0
LIVE_CITY_NOT_WORK_CITY    0.0
FLAG_DOCUMENT_4            0.0
FLAG_DOCUMENT_5            0.0
FLAG_DOCUMENT_2            0.0
FLAG_DOCUMENT_3            0.0
FLAG_DOCUMENT_11           0.0
FLAG_DOCUMENT_10           0.0
FLAG_DOCUMENT_9            0.0
FLAG_DOCUMENT_8            0.0
FLAG_DOCUMENT_7            0.0
FLAG_DOCUMENT_6            0.0
FLAG_DOCUMENT_12           0.0
FLAG_DOCUMENT_13           0.0
FLAG_DOCUMENT_19           0.0
FLAG_DOCUMENT_18           0.0
FLAG_DOCUMENT_17           0.0
FLAG_DOCUMENT_16           0.0
FLAG_DOCUMENT_15           0.0
FLAG_DOCUMENT_14           0.0
FLAG_DOCUMENT_20           0.0
FLAG_DOCUMENT_21           0.0
dtype: float64

##### <span style="color:#a8dbc9d1;">Remove second 24 columns with more than 50% missing values

In [32]:
df = df.drop(columns=null_percent.head(24).index)

In [33]:
df['OCCUPATION_TYPE'].value_counts(normalize=True) * 100

OCCUPATION_TYPE
Laborers                 26.139636
Sales staff              15.205570
Core staff               13.058924
Managers                 10.122679
Drivers                   8.811576
High skill tech staff     5.390299
Accountants               4.648067
Medicine staff            4.043672
Security staff            3.183498
Cooking staff             2.816408
Cleaning staff            2.203960
Private service staff     1.256158
Low-skill Laborers        0.991379
Waiters/barmen staff      0.638499
Secretaries               0.618132
Realty agents             0.355722
HR staff                  0.266673
IT staff                  0.249147
Name: proportion, dtype: float64

In [34]:
df['EXT_SOURCE_3'].value_counts(normalize=True) * 100

EXT_SOURCE_3
0.746300    0.592182
0.713631    0.533369
0.694093    0.517550
0.670652    0.483074
0.652897    0.468067
              ...
0.028275    0.000406
0.858178    0.000406
0.849170    0.000406
0.887664    0.000406
0.864212    0.000406
Name: proportion, Length: 814, dtype: float64

In [35]:
df['EXT_SOURCE_2'].value_counts(normalize=True) * 100

EXT_SOURCE_2
0.285898    0.234967
0.262258    0.135897
0.265256    0.111781
0.159679    0.104937
0.265312    0.099723
              ...
0.353855    0.000326
0.200589    0.000326
0.146779    0.000326
0.288490    0.000326
0.269471    0.000326
Name: proportion, Length: 119831, dtype: float64

In [36]:
df['TARGET'].value_counts(normalize=True)

TARGET
0    0.919271
1    0.080729
Name: proportion, dtype: float64

In [37]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts(normalize=True) * 100

AMT_REQ_CREDIT_BUREAU_YEAR
0.0     26.993669
1.0     23.837183
2.0     18.869740
3.0     12.642485
4.0      7.787452
5.0      4.530963
6.0      2.619252
7.0      1.454555
8.0      0.799648
9.0      0.412042
11.0     0.011654
12.0     0.011279
10.0     0.008271
13.0     0.007143
14.0     0.003760
17.0     0.002632
15.0     0.002256
18.0     0.001504
19.0     0.001504
16.0     0.001128
25.0     0.000376
23.0     0.000376
22.0     0.000376
21.0     0.000376
20.0     0.000376
Name: proportion, dtype: float64

In [38]:
df['AMT_REQ_CREDIT_BUREAU_QRT'].value_counts(normalize=True) * 100

AMT_REQ_CREDIT_BUREAU_QRT
0.0      80.986270
1.0      12.730458
2.0       5.418208
3.0       0.645508
4.0       0.178953
5.0       0.024061
6.0       0.010527
8.0       0.002632
7.0       0.002632
261.0     0.000376
19.0      0.000376
Name: proportion, dtype: float64

In [39]:
df['AMT_REQ_CREDIT_BUREAU_MON'].value_counts(normalize=True) * 100

AMT_REQ_CREDIT_BUREAU_MON
0.0     83.548753
1.0     12.461653
2.0      2.024873
3.0      0.748519
4.0      0.404523
5.0      0.226323
6.0      0.128951
7.0      0.112033
9.0      0.077446
8.0      0.069551
10.0     0.049626
11.0     0.044738
12.0     0.028948
13.0     0.027068
14.0     0.015038
15.0     0.013158
16.0     0.008647
17.0     0.005263
18.0     0.002256
19.0     0.001128
24.0     0.000376
23.0     0.000376
27.0     0.000376
22.0     0.000376
Name: proportion, dtype: float64

In [40]:
df['AMT_REQ_CREDIT_BUREAU_WEEK'].value_counts(normalize=True) * 100

AMT_REQ_CREDIT_BUREAU_WEEK
0.0    96.790881
1.0     3.085807
2.0     0.074814
3.0     0.021805
4.0     0.012782
6.0     0.007519
5.0     0.003760
8.0     0.001880
7.0     0.000752
Name: proportion, dtype: float64

In [41]:
df['AMT_REQ_CREDIT_BUREAU_DAY'].value_counts(normalize=True)*100

AMT_REQ_CREDIT_BUREAU_DAY
0.0    99.440209
1.0     0.485729
2.0     0.039851
3.0     0.016918
4.0     0.009775
5.0     0.003384
6.0     0.003008
9.0     0.000752
8.0     0.000376
Name: proportion, dtype: float64

In [42]:
df['AMT_REQ_CREDIT_BUREAU_HOUR'].value_counts(normalize=True)*100

AMT_REQ_CREDIT_BUREAU_HOUR
0.0    99.388703
1.0     0.586484
2.0     0.021053
3.0     0.003384
4.0     0.000376
Name: proportion, dtype: float64

##### <span style="color:#a8dbc9d1;">Drop Columns That has more than 90% of the same value

In [43]:

df.drop([
    'AMT_REQ_CREDIT_BUREAU_HOUR',
    'AMT_REQ_CREDIT_BUREAU_DAY',
    'AMT_REQ_CREDIT_BUREAU_WEEK',
    'AMT_REQ_CREDIT_BUREAU_MON',
    'AMT_REQ_CREDIT_BUREAU_QRT',
    'NAME_TYPE_SUITE'
], axis=1, inplace=True)

In [44]:
null_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

for i in range(0, len(null_percent), 25):
    print(f"\nðŸ“Š Columns {i+1} to {min(i+25, len(null_percent))}:\n")
    print(null_percent.iloc[i:i+25])

ðŸ“Š Columns 1 to 25:

OCCUPATION_TYPE               31.345545
EXT_SOURCE_3                  19.825307
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
OBS_30_CNT_SOCIAL_CIRCLE       0.332021
DEF_60_CNT_SOCIAL_CIRCLE       0.332021
OBS_60_CNT_SOCIAL_CIRCLE       0.332021
DEF_30_CNT_SOCIAL_CIRCLE       0.332021
EXT_SOURCE_2                   0.214626
AMT_GOODS_PRICE                0.090403
AMT_ANNUITY                    0.003902
CNT_FAM_MEMBERS                0.000650
DAYS_LAST_PHONE_CHANGE         0.000325
NAME_CONTRACT_TYPE             0.000000
SK_ID_CURR                     0.000000
TARGET                         0.000000
CNT_CHILDREN                   0.000000
FLAG_OWN_REALTY                0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
DAYS_REGISTRATION              0.000000
DAYS_EMPLOYED                  0.000000
FLAG_EMP_PHONE                 0.000000
DAYS_ID_PUBLISH                0.000000
FLAG_WORK_PHONE                0.000000
FLAG_CONT_MOBILE               0.000000
dtype: float64

ðŸ“Š Columns 26 to 50:

FLAG_PHONE                     0.0
FLAG_MOBIL                     0.0
NAME_INCOME_TYPE               0.0
NAME_EDUCATION_TYPE            0.0
NAME_FAMILY_STATUS             0.0
NAME_HOUSING_TYPE              0.0
REGION_POPULATION_RELATIVE     0.0
DAYS_BIRTH                     0.0
AMT_CREDIT                     0.0
AMT_INCOME_TOTAL               0.0
LIVE_REGION_NOT_WORK_REGION    0.0
REG_REGION_NOT_WORK_REGION     0.0
REG_REGION_NOT_LIVE_REGION     0.0
HOUR_APPR_PROCESS_START        0.0
WEEKDAY_APPR_PROCESS_START     0.0
REGION_RATING_CLIENT_W_CITY    0.0
REGION_RATING_CLIENT           0.0
FLAG_EMAIL                     0.0
REG_CITY_NOT_LIVE_CITY         0.0
REG_CITY_NOT_WORK_CITY         0.0
LIVE_CITY_NOT_WORK_CITY        0.0
FLAG_DOCUMENT_2                0.0
FLAG_DOCUMENT_3                0.0
FLAG_DOCUMENT_4                0.0
FLAG_DOCUMENT_5                0.0
dtype: float64

ðŸ“Š Columns 51 to 67:

ORGANIZATION_TYPE    0.0
FLAG_DOCUMENT_6      0.0
FLAG_DOCUMENT_7      0.0
FLAG_DOCUMENT_9      0.0
FLAG_DOCUMENT_8      0.0
FLAG_DOCUMENT_11     0.0
FLAG_DOCUMENT_12     0.0
FLAG_DOCUMENT_13     0.0
FLAG_DOCUMENT_10     0.0
FLAG_DOCUMENT_14     0.0
FLAG_DOCUMENT_15     0.0
FLAG_DOCUMENT_17     0.0
FLAG_DOCUMENT_16     0.0
FLAG_DOCUMENT_18     0.0
FLAG_DOCUMENT_19     0.0
FLAG_DOCUMENT_20     0.0
FLAG_DOCUMENT_21     0.0
dtype: float64

In [45]:
df['CNT_FAM_MEMBERS'].value_counts(normalize=True)*100

CNT_FAM_MEMBERS
2.0     51.496704
1.0     22.063419
3.0     17.105516
4.0      8.031310
5.0      1.131024
6.0      0.132679
7.0      0.026341
8.0      0.006504
9.0      0.001951
10.0     0.000976
14.0     0.000650
12.0     0.000650
20.0     0.000650
16.0     0.000650
13.0     0.000325
15.0     0.000325
11.0     0.000325
Name: proportion, dtype: float64

In [46]:
df['DAYS_LAST_PHONE_CHANGE'].value_counts(normalize=True)*100

DAYS_LAST_PHONE_CHANGE
 0.0       12.250659
-1.0        0.914442
-2.0        0.753797
-3.0        0.573315
-4.0        0.417873
             ...
-3905.0     0.000325
-3752.0     0.000325
-3866.0     0.000325
-3861.0     0.000325
-3755.0     0.000325
Name: proportion, Length: 3773, dtype: float64

##### <span style="color:#a8dbc9d1;">split 'phone_change_category' into 3 categories