In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## <span style="color:#21996fd1;">**1- Initial Exploration  & EDA**
---

In [5]:
df=pd.read_csv("application_data.csv")

In [6]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [8]:
df.shape

(307511, 122)

In [9]:
null_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

for i in range(0, len(null_percent), 25):
    print(f"\nðŸ“Š Columns {i+1} to {min(i+25, len(null_percent))}:\n")
    print(null_percent.iloc[i:i+25])

ðŸ“Š Columns 1 to 25:

COMMONAREA_MEDI             69.872297
COMMONAREA_AVG              69.872297
COMMONAREA_MODE             69.872297
NONLIVINGAPARTMENTS_MODE    69.432963
NONLIVINGAPARTMENTS_AVG     69.432963
NONLIVINGAPARTMENTS_MEDI    69.432963
FONDKAPREMONT_MODE          68.386172
LIVINGAPARTMENTS_MODE       68.354953
LIVINGAPARTMENTS_AVG        68.354953
LIVINGAPARTMENTS_MEDI       68.354953
FLOORSMIN_AVG               67.848630
FLOORSMIN_MODE              67.848630
FLOORSMIN_MEDI              67.848630
YEARS_BUILD_MEDI            66.497784
YEARS_BUILD_MODE            66.497784
YEARS_BUILD_AVG             66.497784
OWN_CAR_AGE                 65.990810
LANDAREA_MEDI               59.376738
LANDAREA_MODE               59.376738
LANDAREA_AVG                59.376738
BASEMENTAREA_MEDI           58.515956
BASEMENTAREA_AVG            58.515956
BASEMENTAREA_MODE           58.515956
EXT_SOURCE_1                56.381073
NONLIVINGAREA_MODE          55.179164
dtype: float64

ðŸ“Š Columns 26 to 50:

NONLIVINGAREA_AVG               55.179164
NONLIVINGAREA_MEDI              55.179164
ELEVATORS_MEDI                  53.295980
ELEVATORS_AVG                   53.295980
ELEVATORS_MODE                  53.295980
WALLSMATERIAL_MODE              50.840783
APARTMENTS_MEDI                 50.749729
APARTMENTS_AVG                  50.749729
APARTMENTS_MODE                 50.749729
ENTRANCES_MEDI                  50.348768
ENTRANCES_AVG                   50.348768
ENTRANCES_MODE                  50.348768
LIVINGAREA_AVG                  50.193326
LIVINGAREA_MODE                 50.193326
LIVINGAREA_MEDI                 50.193326
HOUSETYPE_MODE                  50.176091
FLOORSMAX_MODE                  49.760822
FLOORSMAX_MEDI                  49.760822
FLOORSMAX_AVG                   49.760822
YEARS_BEGINEXPLUATATION_MODE    48.781019
YEARS_BEGINEXPLUATATION_MEDI    48.781019
YEARS_BEGINEXPLUATATION_AVG     48.781019
TOTALAREA_MODE                  48.268517
EMERGENCYSTATE_MODE             47.398304
OCCUPATION_TYPE                 31.345545
dtype: float64

ðŸ“Š Columns 51 to 75:

EXT_SOURCE_3                  19.825307
AMT_REQ_CREDIT_BUREAU_HOUR    13.501631
AMT_REQ_CREDIT_BUREAU_DAY     13.501631
AMT_REQ_CREDIT_BUREAU_WEEK    13.501631
AMT_REQ_CREDIT_BUREAU_MON     13.501631
AMT_REQ_CREDIT_BUREAU_QRT     13.501631
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
NAME_TYPE_SUITE                0.420148
OBS_30_CNT_SOCIAL_CIRCLE       0.332021
DEF_30_CNT_SOCIAL_CIRCLE       0.332021
OBS_60_CNT_SOCIAL_CIRCLE       0.332021
DEF_60_CNT_SOCIAL_CIRCLE       0.332021
EXT_SOURCE_2                   0.214626
AMT_GOODS_PRICE                0.090403
AMT_ANNUITY                    0.003902
CNT_FAM_MEMBERS                0.000650
DAYS_LAST_PHONE_CHANGE         0.000325
CNT_CHILDREN                   0.000000
FLAG_DOCUMENT_8                0.000000
NAME_CONTRACT_TYPE             0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
FLAG_DOCUMENT_2                0.000000
FLAG_DOCUMENT_3                0.000000
FLAG_DOCUMENT_4                0.000000
dtype: float64

ðŸ“Š Columns 76 to 100:

FLAG_DOCUMENT_5                0.0
FLAG_DOCUMENT_6                0.0
FLAG_DOCUMENT_7                0.0
FLAG_DOCUMENT_9                0.0
FLAG_DOCUMENT_21               0.0
FLAG_DOCUMENT_10               0.0
FLAG_DOCUMENT_11               0.0
FLAG_OWN_REALTY                0.0
FLAG_DOCUMENT_13               0.0
FLAG_DOCUMENT_14               0.0
FLAG_DOCUMENT_15               0.0
FLAG_DOCUMENT_16               0.0
FLAG_DOCUMENT_17               0.0
FLAG_DOCUMENT_18               0.0
FLAG_DOCUMENT_19               0.0
FLAG_DOCUMENT_20               0.0
FLAG_DOCUMENT_12               0.0
AMT_CREDIT                     0.0
AMT_INCOME_TOTAL               0.0
FLAG_PHONE                     0.0
LIVE_CITY_NOT_WORK_CITY        0.0
REG_CITY_NOT_WORK_CITY         0.0
TARGET                         0.0
REG_CITY_NOT_LIVE_CITY         0.0
LIVE_REGION_NOT_WORK_REGION    0.0
dtype: float64

ðŸ“Š Columns 101 to 122:

REG_REGION_NOT_WORK_REGION     0.0
REG_REGION_NOT_LIVE_REGION     0.0
HOUR_APPR_PROCESS_START        0.0
WEEKDAY_APPR_PROCESS_START     0.0
REGION_RATING_CLIENT_W_CITY    0.0
REGION_RATING_CLIENT           0.0
FLAG_EMAIL                     0.0
FLAG_CONT_MOBILE               0.0
ORGANIZATION_TYPE              0.0
FLAG_WORK_PHONE                0.0
FLAG_EMP_PHONE                 0.0
FLAG_MOBIL                     0.0
DAYS_ID_PUBLISH                0.0
DAYS_REGISTRATION              0.0
DAYS_EMPLOYED                  0.0
DAYS_BIRTH                     0.0
REGION_POPULATION_RELATIVE     0.0
NAME_HOUSING_TYPE              0.0
NAME_FAMILY_STATUS             0.0
NAME_EDUCATION_TYPE            0.0
NAME_INCOME_TYPE               0.0
SK_ID_CURR                     0.0
dtype: float64

## <span style="color:#21996fd1;"> **2- Data Cleaning**
---

In [10]:
df = df.drop(columns=null_percent.head(25).index)

In [11]:
null_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

for i in range(0, len(null_percent), 25):
    print(f"\nðŸ“Š Columns {i+1} to {min(i+25, len(null_percent))}:\n")
    print(null_percent.iloc[i:i+25])

ðŸ“Š Columns 1 to 25:

NONLIVINGAREA_AVG               55.179164
NONLIVINGAREA_MEDI              55.179164
ELEVATORS_AVG                   53.295980
ELEVATORS_MODE                  53.295980
ELEVATORS_MEDI                  53.295980
WALLSMATERIAL_MODE              50.840783
APARTMENTS_AVG                  50.749729
APARTMENTS_MODE                 50.749729
APARTMENTS_MEDI                 50.749729
ENTRANCES_MEDI                  50.348768
ENTRANCES_AVG                   50.348768
ENTRANCES_MODE                  50.348768
LIVINGAREA_AVG                  50.193326
LIVINGAREA_MODE                 50.193326
LIVINGAREA_MEDI                 50.193326
HOUSETYPE_MODE                  50.176091
FLOORSMAX_MEDI                  49.760822
FLOORSMAX_AVG                   49.760822
FLOORSMAX_MODE                  49.760822
YEARS_BEGINEXPLUATATION_AVG     48.781019
YEARS_BEGINEXPLUATATION_MODE    48.781019
YEARS_BEGINEXPLUATATION_MEDI    48.781019
TOTALAREA_MODE                  48.268517
EMERGENCYSTATE_MODE             47.398304
OCCUPATION_TYPE                 31.345545
dtype: float64

ðŸ“Š Columns 26 to 50:

EXT_SOURCE_3                  19.825307
AMT_REQ_CREDIT_BUREAU_MON     13.501631
AMT_REQ_CREDIT_BUREAU_WEEK    13.501631
AMT_REQ_CREDIT_BUREAU_HOUR    13.501631
AMT_REQ_CREDIT_BUREAU_QRT     13.501631
AMT_REQ_CREDIT_BUREAU_DAY     13.501631
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
NAME_TYPE_SUITE                0.420148
DEF_30_CNT_SOCIAL_CIRCLE       0.332021
DEF_60_CNT_SOCIAL_CIRCLE       0.332021
OBS_60_CNT_SOCIAL_CIRCLE       0.332021
OBS_30_CNT_SOCIAL_CIRCLE       0.332021
EXT_SOURCE_2                   0.214626
AMT_GOODS_PRICE                0.090403
AMT_ANNUITY                    0.003902
CNT_FAM_MEMBERS                0.000650
DAYS_LAST_PHONE_CHANGE         0.000325
FLAG_DOCUMENT_10               0.000000
FLAG_DOCUMENT_3                0.000000
FLAG_DOCUMENT_4                0.000000
FLAG_DOCUMENT_5                0.000000
FLAG_DOCUMENT_6                0.000000
FLAG_DOCUMENT_7                0.000000
FLAG_DOCUMENT_8                0.000000
FLAG_DOCUMENT_9                0.000000
dtype: float64

ðŸ“Š Columns 51 to 75:

FLAG_DOCUMENT_2                0.0
HOUR_APPR_PROCESS_START        0.0
FLAG_DOCUMENT_11               0.0
FLAG_DOCUMENT_13               0.0
FLAG_DOCUMENT_14               0.0
FLAG_DOCUMENT_15               0.0
FLAG_DOCUMENT_16               0.0
FLAG_DOCUMENT_17               0.0
FLAG_DOCUMENT_18               0.0
FLAG_DOCUMENT_19               0.0
FLAG_DOCUMENT_20               0.0
FLAG_DOCUMENT_21               0.0
CNT_CHILDREN                   0.0
FLAG_OWN_REALTY                0.0
FLAG_OWN_CAR                   0.0
CODE_GENDER                    0.0
NAME_CONTRACT_TYPE             0.0
FLAG_DOCUMENT_12               0.0
AMT_CREDIT                     0.0
AMT_INCOME_TOTAL               0.0
REG_REGION_NOT_LIVE_REGION     0.0
REG_REGION_NOT_WORK_REGION     0.0
LIVE_REGION_NOT_WORK_REGION    0.0
REG_CITY_NOT_LIVE_CITY         0.0
REG_CITY_NOT_WORK_CITY         0.0
dtype: float64

ðŸ“Š Columns 76 to 97:

LIVE_CITY_NOT_WORK_CITY        0.0
ORGANIZATION_TYPE              0.0
WEEKDAY_APPR_PROCESS_START     0.0
REGION_RATING_CLIENT_W_CITY    0.0
REGION_RATING_CLIENT           0.0
FLAG_EMAIL                     0.0
FLAG_PHONE                     0.0
FLAG_CONT_MOBILE               0.0
TARGET                         0.0
FLAG_WORK_PHONE                0.0
FLAG_EMP_PHONE                 0.0
FLAG_MOBIL                     0.0
DAYS_ID_PUBLISH                0.0
DAYS_REGISTRATION              0.0
DAYS_EMPLOYED                  0.0
DAYS_BIRTH                     0.0
REGION_POPULATION_RELATIVE     0.0
NAME_HOUSING_TYPE              0.0
NAME_FAMILY_STATUS             0.0
NAME_EDUCATION_TYPE            0.0
NAME_INCOME_TYPE               0.0
SK_ID_CURR                     0.0
dtype: float64

##### <span style="color:#a8dbc9d1;">Remove second 24 columns with more than 50% missing values

In [12]:
df = df.drop(columns=null_percent.head(24).index)

In [13]:
df['OCCUPATION_TYPE'].value_counts(normalize=True) * 100

OCCUPATION_TYPE
Laborers                 26.139636
Sales staff              15.205570
Core staff               13.058924
Managers                 10.122679
Drivers                   8.811576
High skill tech staff     5.390299
Accountants               4.648067
Medicine staff            4.043672
Security staff            3.183498
Cooking staff             2.816408
Cleaning staff            2.203960
Private service staff     1.256158
Low-skill Laborers        0.991379
Waiters/barmen staff      0.638499
Secretaries               0.618132
Realty agents             0.355722
HR staff                  0.266673
IT staff                  0.249147
Name: proportion, dtype: float64

In [14]:
df['EXT_SOURCE_3'].value_counts(normalize=True) * 100

EXT_SOURCE_3
0.746300    0.592182
0.713631    0.533369
0.694093    0.517550
0.670652    0.483074
0.652897    0.468067
              ...
0.021492    0.000406
0.019468    0.000406
0.023062    0.000406
0.014556    0.000406
0.043227    0.000406
Name: proportion, Length: 814, dtype: float64

In [15]:
df['EXT_SOURCE_2'].value_counts(normalize=True) * 100

EXT_SOURCE_2
0.285898    0.234967
0.262258    0.135897
0.265256    0.111781
0.159679    0.104937
0.265312    0.099723
              ...
0.004725    0.000326
0.257313    0.000326
0.282030    0.000326
0.181540    0.000326
0.267834    0.000326
Name: proportion, Length: 119831, dtype: float64

In [16]:
df['TARGET'].value_counts(normalize=True)

TARGET
0    0.919271
1    0.080729
Name: proportion, dtype: float64

In [17]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts(normalize=True) * 100

AMT_REQ_CREDIT_BUREAU_YEAR
0.0     26.993669
1.0     23.837183
2.0     18.869740
3.0     12.642485
4.0      7.787452
5.0      4.530963
6.0      2.619252
7.0      1.454555
8.0      0.799648
9.0      0.412042
11.0     0.011654
12.0     0.011279
10.0     0.008271
13.0     0.007143
14.0     0.003760
17.0     0.002632
15.0     0.002256
19.0     0.001504
18.0     0.001504
16.0     0.001128
25.0     0.000376
23.0     0.000376
22.0     0.000376
21.0     0.000376
20.0     0.000376
Name: proportion, dtype: float64

In [18]:
df['AMT_REQ_CREDIT_BUREAU_QRT'].value_counts(normalize=True) * 100

AMT_REQ_CREDIT_BUREAU_QRT
0.0      80.986270
1.0      12.730458
2.0       5.418208
3.0       0.645508
4.0       0.178953
5.0       0.024061
6.0       0.010527
8.0       0.002632
7.0       0.002632
261.0     0.000376
19.0      0.000376
Name: proportion, dtype: float64

In [19]:
df['AMT_REQ_CREDIT_BUREAU_MON'].value_counts(normalize=True) * 100

AMT_REQ_CREDIT_BUREAU_MON
0.0     83.548753
1.0     12.461653
2.0      2.024873
3.0      0.748519
4.0      0.404523
5.0      0.226323
6.0      0.128951
7.0      0.112033
9.0      0.077446
8.0      0.069551
10.0     0.049626
11.0     0.044738
12.0     0.028948
13.0     0.027068
14.0     0.015038
15.0     0.013158
16.0     0.008647
17.0     0.005263
18.0     0.002256
19.0     0.001128
24.0     0.000376
23.0     0.000376
27.0     0.000376
22.0     0.000376
Name: proportion, dtype: float64

In [20]:
df['AMT_REQ_CREDIT_BUREAU_WEEK'].value_counts(normalize=True) * 100

AMT_REQ_CREDIT_BUREAU_WEEK
0.0    96.790881
1.0     3.085807
2.0     0.074814
3.0     0.021805
4.0     0.012782
6.0     0.007519
5.0     0.003760
8.0     0.001880
7.0     0.000752
Name: proportion, dtype: float64

In [21]:
df['AMT_REQ_CREDIT_BUREAU_DAY'].value_counts(normalize=True)*100

AMT_REQ_CREDIT_BUREAU_DAY
0.0    99.440209
1.0     0.485729
2.0     0.039851
3.0     0.016918
4.0     0.009775
5.0     0.003384
6.0     0.003008
9.0     0.000752
8.0     0.000376
Name: proportion, dtype: float64

In [22]:
df['AMT_REQ_CREDIT_BUREAU_HOUR'].value_counts(normalize=True)*100

AMT_REQ_CREDIT_BUREAU_HOUR
0.0    99.388703
1.0     0.586484
2.0     0.021053
3.0     0.003384
4.0     0.000376
Name: proportion, dtype: float64

##### <span style="color:#a8dbc9d1;">Drop Columns That has more than 90% of the same value

In [23]:

df.drop([
    'AMT_REQ_CREDIT_BUREAU_HOUR',
    'AMT_REQ_CREDIT_BUREAU_DAY',
    'AMT_REQ_CREDIT_BUREAU_WEEK',
    'AMT_REQ_CREDIT_BUREAU_MON',
    'AMT_REQ_CREDIT_BUREAU_QRT',
    'NAME_TYPE_SUITE'
], axis=1, inplace=True)

In [24]:
null_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

for i in range(0, len(null_percent), 25):
    print(f"\nðŸ“Š Columns {i+1} to {min(i+25, len(null_percent))}:\n")
    print(null_percent.iloc[i:i+25])

ðŸ“Š Columns 1 to 25:

OCCUPATION_TYPE               31.345545
EXT_SOURCE_3                  19.825307
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
DEF_60_CNT_SOCIAL_CIRCLE       0.332021
OBS_30_CNT_SOCIAL_CIRCLE       0.332021
DEF_30_CNT_SOCIAL_CIRCLE       0.332021
OBS_60_CNT_SOCIAL_CIRCLE       0.332021
EXT_SOURCE_2                   0.214626
AMT_GOODS_PRICE                0.090403
AMT_ANNUITY                    0.003902
CNT_FAM_MEMBERS                0.000650
DAYS_LAST_PHONE_CHANGE         0.000325
FLAG_DOCUMENT_6                0.000000
ORGANIZATION_TYPE              0.000000
FLAG_DOCUMENT_2                0.000000
FLAG_DOCUMENT_3                0.000000
FLAG_DOCUMENT_4                0.000000
FLAG_DOCUMENT_5                0.000000
FLAG_DOCUMENT_8                0.000000
FLAG_DOCUMENT_7                0.000000
REG_CITY_NOT_WORK_CITY         0.000000
FLAG_DOCUMENT_9                0.000000
FLAG_DOCUMENT_10               0.000000
FLAG_DOCUMENT_11               0.000000
FLAG_DOCUMENT_12               0.000000
dtype: float64

ðŸ“Š Columns 26 to 50:

FLAG_DOCUMENT_13              0.0
FLAG_DOCUMENT_14              0.0
FLAG_DOCUMENT_15              0.0
FLAG_DOCUMENT_16              0.0
FLAG_DOCUMENT_17              0.0
FLAG_DOCUMENT_18              0.0
FLAG_DOCUMENT_19              0.0
FLAG_DOCUMENT_20              0.0
FLAG_DOCUMENT_21              0.0
LIVE_CITY_NOT_WORK_CITY       0.0
SK_ID_CURR                    0.0
REG_CITY_NOT_LIVE_CITY        0.0
DAYS_EMPLOYED                 0.0
NAME_CONTRACT_TYPE            0.0
CODE_GENDER                   0.0
FLAG_OWN_CAR                  0.0
FLAG_OWN_REALTY               0.0
CNT_CHILDREN                  0.0
AMT_INCOME_TOTAL              0.0
AMT_CREDIT                    0.0
NAME_INCOME_TYPE              0.0
NAME_EDUCATION_TYPE           0.0
NAME_FAMILY_STATUS            0.0
NAME_HOUSING_TYPE             0.0
REGION_POPULATION_RELATIVE    0.0
dtype: float64

ðŸ“Š Columns 51 to 67:

DAYS_BIRTH                     0.0
DAYS_REGISTRATION              0.0
LIVE_REGION_NOT_WORK_REGION    0.0
DAYS_ID_PUBLISH                0.0
FLAG_MOBIL                     0.0
FLAG_EMP_PHONE                 0.0
FLAG_WORK_PHONE                0.0
FLAG_CONT_MOBILE               0.0
FLAG_PHONE                     0.0
FLAG_EMAIL                     0.0
REGION_RATING_CLIENT           0.0
REGION_RATING_CLIENT_W_CITY    0.0
WEEKDAY_APPR_PROCESS_START     0.0
HOUR_APPR_PROCESS_START        0.0
REG_REGION_NOT_LIVE_REGION     0.0
TARGET                         0.0
REG_REGION_NOT_WORK_REGION     0.0
dtype: float64

In [25]:
df['CNT_FAM_MEMBERS'].value_counts(normalize=True)*100

CNT_FAM_MEMBERS
2.0     51.496704
1.0     22.063419
3.0     17.105516
4.0      8.031310
5.0      1.131024
6.0      0.132679
7.0      0.026341
8.0      0.006504
9.0      0.001951
10.0     0.000976
14.0     0.000650
12.0     0.000650
20.0     0.000650
16.0     0.000650
13.0     0.000325
15.0     0.000325
11.0     0.000325
Name: proportion, dtype: float64

In [26]:
df['DAYS_LAST_PHONE_CHANGE'].value_counts(normalize=True)*100

DAYS_LAST_PHONE_CHANGE
 0.0       12.250659
-1.0        0.914442
-2.0        0.753797
-3.0        0.573315
-4.0        0.417873
             ...
-4051.0     0.000325
-3593.0     0.000325
-3622.0     0.000325
-3570.0     0.000325
-3538.0     0.000325
Name: proportion, Length: 3773, dtype: float64

##### <span style="color:#a8dbc9d1;">split 'phone_change_category' into 3 categories

In [27]:
def phone_change_category(days):
    if days >= -30:
        return 'recent_change'
    elif days >= -365:
        return 'within_1_year'
    else:
        return 'long_time_stable'

df['PHONE_CHANGE_STATUS'] = df['DAYS_LAST_PHONE_CHANGE'].apply(phone_change_category)

In [28]:
df['PHONE_CHANGE_STATUS'].value_counts(normalize=True) * 100

PHONE_CHANGE_STATUS
long_time_stable    69.880752
recent_change       16.584122
within_1_year       13.535126
Name: proportion, dtype: float64

In [29]:
df.drop(columns=['DAYS_LAST_PHONE_CHANGE'], inplace=True)

In [30]:
df['FLAG_DOCUMENT_3'].value_counts(normalize=True) * 100

FLAG_DOCUMENT_3
1    71.002338
0    28.997662
Name: proportion, dtype: float64

In [31]:
docs_to_drop = [
    'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
    'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
    'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'
]

df.drop(columns=docs_to_drop, inplace=True)

In [32]:
null_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

for i in range(0, len(null_percent), 25):
    print(f"\nðŸ“Š Columns {i+1} to {min(i+25, len(null_percent))}:\n")
    print(null_percent.iloc[i:i+25])

ðŸ“Š Columns 1 to 25:

OCCUPATION_TYPE                31.345545
EXT_SOURCE_3                   19.825307
AMT_REQ_CREDIT_BUREAU_YEAR     13.501631
DEF_60_CNT_SOCIAL_CIRCLE        0.332021
OBS_60_CNT_SOCIAL_CIRCLE        0.332021
DEF_30_CNT_SOCIAL_CIRCLE        0.332021
OBS_30_CNT_SOCIAL_CIRCLE        0.332021
EXT_SOURCE_2                    0.214626
AMT_GOODS_PRICE                 0.090403
AMT_ANNUITY                     0.003902
CNT_FAM_MEMBERS                 0.000650
REG_REGION_NOT_WORK_REGION      0.000000
REGION_RATING_CLIENT            0.000000
REGION_RATING_CLIENT_W_CITY     0.000000
WEEKDAY_APPR_PROCESS_START      0.000000
HOUR_APPR_PROCESS_START         0.000000
REG_REGION_NOT_LIVE_REGION      0.000000
SK_ID_CURR                      0.000000
LIVE_REGION_NOT_WORK_REGION     0.000000
REG_CITY_NOT_LIVE_CITY          0.000000
REG_CITY_NOT_WORK_CITY          0.000000
LIVE_CITY_NOT_WORK_CITY         0.000000
FLAG_EMAIL                      0.000000
FLAG_DOCUMENT_3                 0.000000
ORGANIZATION_TYPE               0.000000
dtype: float64

ðŸ“Š Columns 26 to 48:

FLAG_PHONE                    0.0
TARGET                        0.0
FLAG_CONT_MOBILE              0.0
NAME_CONTRACT_TYPE            0.0
CODE_GENDER                   0.0
FLAG_OWN_CAR                  0.0
FLAG_OWN_REALTY               0.0
CNT_CHILDREN                  0.0
AMT_INCOME_TOTAL              0.0
AMT_CREDIT                    0.0
NAME_INCOME_TYPE              0.0
NAME_EDUCATION_TYPE           0.0
NAME_FAMILY_STATUS            0.0
NAME_HOUSING_TYPE             0.0
REGION_POPULATION_RELATIVE    0.0
DAYS_BIRTH                    0.0
DAYS_EMPLOYED                 0.0
DAYS_REGISTRATION             0.0
DAYS_ID_PUBLISH               0.0
FLAG_MOBIL                    0.0
FLAG_EMP_PHONE                0.0
FLAG_WORK_PHONE               0.0
PHONE_CHANGE_STATUS           0.0
dtype: float64

In [33]:
df['ORGANIZATION_TYPE'].value_counts(normalize=True)

ORGANIZATION_TYPE
Business Entity Type 3    0.221104
XNA                       0.180072
Self-employed             0.124913
Other                     0.054252
Medicine                  0.036399
Business Entity Type 2    0.034317
Government                0.033833
School                    0.028919
Trade: type 7             0.025466
Kindergarten              0.022373
Construction              0.021856
Business Entity Type 1    0.019459
Transport: type 4         0.017554
Trade: type 3             0.011356
Industry: type 9          0.010952
Industry: type 3          0.010660
Security                  0.010559
Housing                   0.009619
Industry: type 11         0.008793
Military                  0.008566
Bank                      0.008153
Agriculture               0.007980
Police                    0.007613
Transport: type 2         0.007167
Postal                    0.007014
Security Ministries       0.006419
Trade: type 2             0.006179
Restaurant                0.005889
Services                  0.005122
University                0.004315
Industry: type 7          0.004250
Transport: type 3         0.003860
Industry: type 1          0.003379
Hotel                     0.003141
Electricity               0.003089
Industry: type 4          0.002852
Trade: type 6             0.002052
Industry: type 5          0.001948
Insurance                 0.001941
Telecom                   0.001876
Emergency                 0.001821
Industry: type 2          0.001489
Advertising               0.001395
Realtor                   0.001288
Culture                   0.001232
Industry: type 12         0.001200
Trade: type 1             0.001132
Mobile                    0.001031
Legal Services            0.000992
Cleaning                  0.000845
Transport: type 1         0.000654
Industry: type 6          0.000364
Industry: type 10         0.000354
Religion                  0.000276
Industry: type 13         0.000218
Trade: type 4             0.000208
Trade: type 5             0.000159
Industry: type 8          0.000078
Name: proportion, dtype: float64

In [34]:
# number of population in the region where the client lives,
df['REGION_POPULATION_RELATIVE'].value_counts(normalize=True)

REGION_POPULATION_RELATIVE
0.035792    0.053357
0.046220    0.043712
0.030755    0.039553
0.025164    0.038860
0.026392    0.037725
              ...
0.001417    0.001519
0.001333    0.000764
0.000533    0.000127
0.000938    0.000091
0.000290    0.000007
Name: proportion, Length: 81, dtype: float64

In [35]:
# evaluate the bank or financial institution's rating of the quality or "level" of the area where the client lives.
df['REGION_RATING_CLIENT'].value_counts(normalize=True)

REGION_RATING_CLIENT
2    0.738133
3    0.157165
1    0.104702
Name: proportion, dtype: float64

In [36]:
df['REGION_RATING_CLIENT_W_CITY'].value_counts(normalize=True)

REGION_RATING_CLIENT_W_CITY
2    0.746263
3    0.142629
1    0.111108
Name: proportion, dtype: float64

In [37]:
# does the client officially registered in a region different from the one they actually live in?
df['REG_REGION_NOT_LIVE_REGION'].value_counts(normalize=True)

REG_REGION_NOT_LIVE_REGION
0    0.984856
1    0.015144
Name: proportion, dtype: float64

In [38]:
df['HOUR_APPR_PROCESS_START'].value_counts(normalize=True)

HOUR_APPR_PROCESS_START
10    0.122669
11    0.121066
12    0.111323
13    0.100676
14    0.090020
9     0.089050
15    0.080774
16    0.066290
8     0.049192
17    0.048454
7     0.029693
18    0.029427
6     0.018998
19    0.012513
5     0.011830
4     0.006797
3     0.004000
20    0.003889
21    0.001317
2     0.000992
22    0.000488
1     0.000280
23    0.000133
0     0.000130
Name: proportion, dtype: float64

In [39]:
# does the client work in a different region than the one they live in?
df['REG_REGION_NOT_WORK_REGION'].value_counts(normalize=True)

REG_REGION_NOT_WORK_REGION
0    0.949231
1    0.050769
Name: proportion, dtype: float64

In [40]:
# the comparison is between the officially registered city of the client and the city they actually live in.
df['REG_CITY_NOT_LIVE_CITY'].value_counts(normalize=True)

REG_CITY_NOT_LIVE_CITY
0    0.921827
1    0.078173
Name: proportion, dtype: float64

In [41]:
# does the client live in a different region than the one they work in?
df['LIVE_REGION_NOT_WORK_REGION'].value_counts(normalize=True)

LIVE_REGION_NOT_WORK_REGION
0    0.959341
1    0.040659
Name: proportion, dtype: float64

In [42]:
df['LIVE_CITY_NOT_WORK_CITY'].value_counts(normalize=True)

LIVE_CITY_NOT_WORK_CITY
0    0.820445
1    0.179555
Name: proportion, dtype: float64

In [43]:
columns_to_drop = [
    "REGION_POPULATION_RELATIVE",
    "REGION_RATING_CLIENT",
    "REG_REGION_NOT_LIVE_REGION",
    "HOUR_APPR_PROCESS_START",
    "REG_CITY_NOT_WORK_CITY",
    "REG_CITY_NOT_LIVE_CITY",
    "REG_REGION_NOT_WORK_REGION",
    "LIVE_REGION_NOT_WORK_REGION",
    "LIVE_CITY_NOT_WORK_CITY"
]
df = df.drop(columns=columns_to_drop, errors='ignore')
print(df.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_INCOME_TYPE',
       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'FLAG_DOCUMENT_3', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'PHONE_CHANGE_STATUS'],
      dtype='object')

In [44]:
def wealth_category(row):
    if row["FLAG_OWN_CAR"] == 'Y' and row["FLAG_OWN_REALTY"] == 'Y':
        return "High"
    elif row["FLAG_OWN_CAR"] == 'Y' or row["FLAG_OWN_REALTY"] == 'Y':
        return "Medium"
    else:
        return "Low"

df["WEALTH"] = df.apply(wealth_category, axis=1)
df.drop(["FLAG_OWN_CAR", "FLAG_OWN_REALTY"], axis=1, inplace=True)

In [45]:
df['WEALTH'].value_counts(normalize=True)

WEALTH
Medium    0.563164
High      0.235309
Low       0.201528
Name: proportion, dtype: float64

In [46]:
df["COMMUNICATION"] = (
    df["FLAG_WORK_PHONE"] |
    df["FLAG_EMP_PHONE"] |
    df["FLAG_PHONE"] |
    df["FLAG_CONT_MOBILE"] |
    df["FLAG_EMAIL"] |
    df["FLAG_MOBIL"]
).astype(int)
df.drop([
    "FLAG_WORK_PHONE",
    "FLAG_EMP_PHONE",
    "FLAG_PHONE",
    "FLAG_CONT_MOBILE",
    "FLAG_EMAIL",
    "FLAG_MOBIL"
], axis=1, inplace=True)

In [47]:
df['NAME_HOUSING_TYPE'].value_counts(normalize=True)

NAME_HOUSING_TYPE
House / apartment      0.887344
With parents           0.048258
Municipal apartment    0.036366
Rented apartment       0.015873
Office apartment       0.008510
Co-op apartment        0.003649
Name: proportion, dtype: float64

In [48]:
df["NAME_HOUSING_TYPE"] = df["NAME_HOUSING_TYPE"].apply(
    lambda x: "House/apartment" if x == "House / apartment" else "Other"
)

In [49]:
df['DAYS_REGISTRATION'].value_counts(normalize=True)

DAYS_REGISTRATION
-1.0        0.000367
-7.0        0.000319
-6.0        0.000312
-4.0        0.000299
-2.0        0.000299
              ...
-15581.0    0.000003
-15031.0    0.000003
-14804.0    0.000003
-15008.0    0.000003
-14798.0    0.000003
Name: proportion, Length: 15688, dtype: float64

In [50]:
df['DAYS_ID_PUBLISH'].value_counts(normalize=True)

DAYS_ID_PUBLISH
-4053    0.000550
-4095    0.000527
-4046    0.000524
-4417    0.000517
-4256    0.000514
           ...
-5896    0.000003
-5921    0.000003
-5753    0.000003
-5960    0.000003
-6211    0.000003
Name: proportion, Length: 6168, dtype: float64

In [51]:
df['YEARS_ID_PUBLISH'] = (-df['DAYS_ID_PUBLISH'] / 365).round(1)
df.drop(columns=['DAYS_ID_PUBLISH'], inplace=True)

In [52]:
df['YEARS_ID_PUBLISH'].value_counts(normalize=True)

YEARS_ID_PUBLISH
11.2    0.015339
11.4    0.014982
11.8    0.014513
11.1    0.014458
11.6    0.014416
          ...
17.2    0.000010
17.4    0.000003
19.7    0.000003
17.9    0.000003
17.5    0.000003
Name: proportion, Length: 177, dtype: float64

In [53]:
df['YEARS_REGISTRATION'] = (-df['DAYS_REGISTRATION'] / 365).round(1)
df.drop(columns=['DAYS_REGISTRATION'], inplace=True)

In [54]:
df['YEARS_REGISTRATION'].value_counts(normalize=True)

YEARS_REGISTRATION
0.1     0.005899
0.2     0.005736
1.0     0.005444
2.0     0.005398
0.4     0.005288
          ...
51.3    0.000003
56.7    0.000003
65.0    0.000003
52.2    0.000003
61.5    0.000003
Name: proportion, Length: 555, dtype: float64

##### <span style="color:#a8dbc9d1;">Create STABILITY_YEARS Columns

In [55]:
df['STABILITY_YEARS'] = (df['YEARS_REGISTRATION'] - df['YEARS_ID_PUBLISH']).round(1)
df.drop(columns=['YEARS_REGISTRATION', 'YEARS_ID_PUBLISH'], inplace=True)

In [56]:
def stability_category(x):
    if x <= 0:
        return "Risk"
    elif x <= 10:
        return "Stable"
    else:
        return "Deep_Stable"

df["STABILITY_YEARS"] = df["STABILITY_YEARS"].apply(stability_category)

In [57]:
df['STABILITY_YEARS'].value_counts(normalize=True)

STABILITY_YEARS
Risk           0.364631
Stable         0.330931
Deep_Stable    0.304438
Name: proportion, dtype: float64

In [58]:
df['DAYS_EMPLOYED'].value_counts(normalize=True)

DAYS_EMPLOYED
 365243    0.180072
-200       0.000507
-224       0.000494
-230       0.000491
-199       0.000491
             ...
-13961     0.000003
-11827     0.000003
-10176     0.000003
-9459      0.000003
-8694      0.000003
Name: proportion, Length: 12574, dtype: float64

In [59]:
df['YEARS_EMPLOYED'] = df['DAYS_EMPLOYED'].replace(365243, 0)
df['YEARS_EMPLOYED'] = (-df['YEARS_EMPLOYED'] / 365).round(1)
df.drop(columns=['DAYS_EMPLOYED'], inplace=True)

In [60]:
df['AMT_INCOME_TOTAL'].value_counts(normalize=True)

AMT_INCOME_TOTAL
135000.0    0.116256
112500.0    0.100871
157500.0    0.086358
180000.0    0.080384
90000.0     0.073113
              ...
117324.0    0.000003
64584.0     0.000003
142897.5    0.000003
109170.0    0.000003
113062.5    0.000003
Name: proportion, Length: 2548, dtype: float64

In [61]:
df['DAYS_BIRTH'].value_counts(normalize=True)

DAYS_BIRTH
-13749    0.000140
-13481    0.000137
-18248    0.000133
-10020    0.000133
-15771    0.000130
            ...
-24898    0.000003
-24868    0.000003
-8017     0.000003
-25098    0.000003
-25061    0.000003
Name: proportion, Length: 17460, dtype: float64

In [62]:
df['AGE_YEARS'] = (-df['DAYS_BIRTH'] / 365).round(1)

In [63]:
df.drop(columns=['DAYS_BIRTH'], inplace=True)

In [64]:
df['AGE_YEARS'].value_counts(normalize=True)

AGE_YEARS
38.7    0.003138
39.4    0.003093
40.5    0.003080
36.8    0.003063
37.6    0.003060
          ...
68.9    0.000159
69.0    0.000107
21.0    0.000065
20.5    0.000003
69.1    0.000003
Name: proportion, Length: 483, dtype: float64

In [65]:
df['CODE_GENDER'].value_counts(normalize=True)

CODE_GENDER
F      0.658344
M      0.341643
XNA    0.000013
Name: proportion, dtype: float64

In [66]:
df['NAME_CONTRACT_TYPE'].value_counts(normalize=True)

NAME_CONTRACT_TYPE
Cash loans         0.904787
Revolving loans    0.095213
Name: proportion, dtype: float64

In [67]:
df['NAME_INCOME_TYPE'].value_counts(normalize=True)

NAME_INCOME_TYPE
Working                 0.516320
Commercial associate    0.232892
Pensioner               0.180033
State servant           0.070576
Unemployed              0.000072
Student                 0.000059
Businessman             0.000033
Maternity leave         0.000016
Name: proportion, dtype: float64

In [68]:
df['NAME_INCOME_TYPE'] = df['NAME_INCOME_TYPE'].map(
    lambda x: x if x in ['Working', 'Commercial associate', 'Pensioner'] else 'Others'
)

df['NAME_INCOME_TYPE'].value_counts(normalize=True)

NAME_INCOME_TYPE
Working                 0.516320
Commercial associate    0.232892
Pensioner               0.180033
Others                  0.070755
Name: proportion, dtype: float64

In [69]:
df['CNT_CHILDREN'].value_counts(normalize=True)

CNT_CHILDREN
0     0.700368
1     0.198754
2     0.086986
3     0.012087
4     0.001395
5     0.000273
6     0.000068
7     0.000023
14    0.000010
8     0.000007
9     0.000007
12    0.000007
10    0.000007
19    0.000007
11    0.000003
Name: proportion, dtype: float64

In [70]:
null_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

for i in range(0, len(null_percent), 25):
    print(f"\nðŸ“Š Columns {i+1} to {min(i+25, len(null_percent))}:\n")
    print(null_percent.iloc[i:i+25])

ðŸ“Š Columns 1 to 25:

OCCUPATION_TYPE                31.345545
EXT_SOURCE_3                   19.825307
AMT_REQ_CREDIT_BUREAU_YEAR     13.501631
DEF_60_CNT_SOCIAL_CIRCLE        0.332021
OBS_60_CNT_SOCIAL_CIRCLE        0.332021
DEF_30_CNT_SOCIAL_CIRCLE        0.332021
OBS_30_CNT_SOCIAL_CIRCLE        0.332021
EXT_SOURCE_2                    0.214626
AMT_GOODS_PRICE                 0.090403
AMT_ANNUITY                     0.003902
CNT_FAM_MEMBERS                 0.000650
STABILITY_YEARS                 0.000000
COMMUNICATION                   0.000000
WEALTH                          0.000000
PHONE_CHANGE_STATUS             0.000000
FLAG_DOCUMENT_3                 0.000000
YEARS_EMPLOYED                  0.000000
SK_ID_CURR                      0.000000
WEEKDAY_APPR_PROCESS_START      0.000000
ORGANIZATION_TYPE               0.000000
TARGET                          0.000000
REGION_RATING_CLIENT_W_CITY     0.000000
NAME_HOUSING_TYPE               0.000000
NAME_FAMILY_STATUS              0.000000
NAME_EDUCATION_TYPE             0.000000
dtype: float64

ðŸ“Š Columns 26 to 32:

NAME_INCOME_TYPE      0.0
AMT_CREDIT            0.0
AMT_INCOME_TOTAL      0.0
CNT_CHILDREN          0.0
CODE_GENDER           0.0
NAME_CONTRACT_TYPE    0.0
AGE_YEARS             0.0
dtype: float64

In [71]:
df['OCCUPATION_TYPE'].value_counts(normalize=True)

OCCUPATION_TYPE
Laborers                 0.261396
Sales staff              0.152056
Core staff               0.130589
Managers                 0.101227
Drivers                  0.088116
High skill tech staff    0.053903
Accountants              0.046481
Medicine staff           0.040437
Security staff           0.031835
Cooking staff            0.028164
Cleaning staff           0.022040
Private service staff    0.012562
Low-skill Laborers       0.009914
Waiters/barmen staff     0.006385
Secretaries              0.006181
Realty agents            0.003557
HR staff                 0.002667
IT staff                 0.002491
Name: proportion, dtype: float64

In [72]:
def group_occupation_types(df):
    occupation_groups = {
        'Tech': ['IT staff', 'High skill tech staff'],
        'Service': ['Cooking staff', 'Cleaning staff', 'Private service staff', 'Waiters/barmen staff'],
        'Labor': ['Laborers', 'Low-skill Laborers', 'Drivers'],
        'Admin': ['Core staff', 'Managers', 'Accountants', 'Secretaries', 'HR staff'],
        'Medical': ['Medicine staff', 'Security staff'],
        'Sales': ['Sales staff', 'Realty agents']
    }

    occupation_map = {}
    for new_group, old_list in occupation_groups.items():
        for old_name in old_list:
            occupation_map[old_name] = new_group

    df['OCCUPATION_TYPE'] = df['OCCUPATION_TYPE'].map(occupation_map)

    return df