<h1 style="
  font-size: 55px; 
  text-align: center; 
  font-family: 'Poppins', sans-serif; 
  text-shadow: 2px 2px 5px rgba(63, 155, 77, 0.84);
  letter-spacing: 2px;
">
  <b>ðŸ“Š Previous Dataset</b>
</h1>
<hr style="width: 60%; border: 2px solid #21996fd1; border-radius: 5px;">

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("previous_application.csv")

## <span style="color:#21996fd1;">**1- Initial Exploration  & EDA**
---

In [4]:
df.shape

(1670214, 37)

In [5]:
df.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [7]:
df.describe()

,SK_ID_PREV,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,...,RATE_INTEREST_PRIVILEGED,DAYS_DECISION,SELLERPLACE_AREA,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
count,1.670214e+06,1.670214e+06,1.297979e+06,1.670214e+06,1.670213e+06,7.743700e+05,1.284699e+06,1.670214e+06,1.670214e+06,774370.000000,...,5951.000000,1.670214e+06,1.670214e+06,1.297984e+06,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000
mean,1.923089e+06,2.783572e+05,1.595512e+04,1.752339e+05,1.961140e+05,6.697402e+03,2.278473e+05,1.248418e+01,9.964675e-01,0.079637,...,0.773503,-8.806797e+02,3.139511e+02,1.605408e+01,342209.855039,13826.269337,33767.774054,76582.403064,81992.343838,0.332570
std,5.325980e+05,1.028148e+05,1.478214e+04,2.927798e+05,3.185746e+05,2.092150e+04,3.153966e+05,3.334028e+00,5.932963e-02,0.107823,...,0.100879,7.790997e+02,7.127443e+03,1.456729e+01,88916.115834,72444.869708,106857.034789,149647.415123,153303.516729,0.471134
min,1.000001e+06,1.000010e+05,0.000000e+00,0.000000e+00,0.000000e+00,-9.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,-0.000015,...,0.373150,-2.922000e+03,-1.000000e+00,0.000000e+00,-2922.000000,-2892.000000,-2801.000000,-2889.000000,-2874.000000,0.000000
25%,1.461857e+06,1.893290e+05,6.321780e+03,1.872000e+04,2.416050e+04,0.000000e+00,5.084100e+04,1.000000e+01,1.000000e+00,0.000000,...,0.715645,-1.300000e+03,-1.000000e+00,6.000000e+00,365243.000000,-1628.000000,-1242.000000,-1314.000000,-1270.000000,0.000000
50%,1.923110e+06,2.787145e+05,1.125000e+04,7.104600e+04,8.054100e+04,1.638000e+03,1.123200e+05,1.200000e+01,1.000000e+00,0.051605,...,0.835095,-5.810000e+02,3.000000e+00,1.200000e+01,365243.000000,-831.000000,-361.000000,-537.000000,-499.000000,0.000000
75%,2.384280e+06,3.675140e+05,2.065842e+04,1.803600e+05,2.164185e+05,7.740000e+03,2.340000e+05,1.500000e+01,1.000000e+00,0.108909,...,0.852537,-2.800000e+02,8.200000e+01,2.400000e+01,365243.000000,-411.000000,129.000000,-74.000000,-44.000000,1.000000
max,2.845382e+06,4.562550e+05,4.180581e+05,6.905160e+06,6.905160e+06,3.060045e+06,6.905160e+06,2.300000e+01,1.000000e+00,1.000000,...,1.000000,-1.000000e+00,4.000000e+06,8.400000e+01,365243.000000,365243.000000,365243.000000,365243.000000,365243.000000,1.000000

##### <span style="color:#7dc7add1;">**Show Null Percentage in Every Column**

In [8]:
null_percents = df.isnull().mean() * 100
sorted_nulls = null_percents.sort_values(ascending=False)
max_col_length = max(len(col) for col in df.columns)

print(f"{'Column Name'.ljust(max_col_length)} | Null %")
print("-" * (max_col_length + 10))

for col, percent in sorted_nulls.items():
    print(f"{col.ljust(max_col_length)} | {percent:6.4f}%")

Column Name                 | Null %
-------------------------------------
RATE_INTEREST_PRIVILEGED    | 99.6437%
RATE_INTEREST_PRIMARY       | 99.6437%
AMT_DOWN_PAYMENT            | 53.6365%
RATE_DOWN_PAYMENT           | 53.6365%
NAME_TYPE_SUITE             | 49.1198%
NFLAG_INSURED_ON_APPROVAL   | 40.2981%
DAYS_TERMINATION            | 40.2981%
DAYS_LAST_DUE               | 40.2981%
DAYS_LAST_DUE_1ST_VERSION   | 40.2981%
DAYS_FIRST_DUE              | 40.2981%
DAYS_FIRST_DRAWING          | 40.2981%
AMT_GOODS_PRICE             | 23.0818%
AMT_ANNUITY                 | 22.2867%
CNT_PAYMENT                 | 22.2864%
PRODUCT_COMBINATION         | 0.0207%
AMT_CREDIT                  | 0.0001%
NAME_YIELD_GROUP            | 0.0000%
NAME_PORTFOLIO              | 0.0000%
NAME_SELLER_INDUSTRY        | 0.0000%
SELLERPLACE_AREA            | 0.0000%
CHANNEL_TYPE                | 0.0000%
NAME_PRODUCT_TYPE           | 0.0000%
SK_ID_PREV                  | 0.0000%
NAME_GOODS_CATEGORY         | 0.0000%
NAME_CLIENT_TYPE            | 0.0000%
CODE_REJECT_REASON          | 0.0000%
SK_ID_CURR                  | 0.0000%
DAYS_DECISION               | 0.0000%
NAME_CONTRACT_STATUS        | 0.0000%
NAME_CASH_LOAN_PURPOSE      | 0.0000%
NFLAG_LAST_APPL_IN_DAY      | 0.0000%
FLAG_LAST_APPL_PER_CONTRACT | 0.0000%
HOUR_APPR_PROCESS_START     | 0.0000%
WEEKDAY_APPR_PROCESS_START  | 0.0000%
AMT_APPLICATION             | 0.0000%
NAME_CONTRACT_TYPE          | 0.0000%
NAME_PAYMENT_TYPE           | 0.0000%

## <span style="color:#21996fd1;"> **2- Data Cleaning**
---

### <span style="color:#7dc7add1;">**=> Drop Columns**

In [9]:
# Drop 'SK_ID_PREV' not important
df.drop(columns=['SK_ID_PREV'], inplace=True)

In [10]:
# Drop RATE_INTEREST_PRIVILEGED , RATE_INTEREST_PRIMARY ---> +99% Nulls
df.drop(['RATE_INTEREST_PRIVILEGED', 'RATE_INTEREST_PRIMARY'], axis=1, inplace=True)

In [11]:
# Drop AMT_DOWN_PAYMENT , RATE_DOWN_PAYMENT ---> 53.6%
df.drop(columns=['AMT_DOWN_PAYMENT','RATE_DOWN_PAYMENT'], inplace=True)

In [12]:
# Drop NAME_TYPE_SUITE ---> 49% Nulls + Not important in previous data
df.drop('NAME_TYPE_SUITE',axis=1,inplace=True)

In [13]:
#Show Nulls Percentage & Unique values in ["DAYS_TERMINATION", "DAYS_FIRST_DRAWING", "DAYS_FIRST_DUE", "DAYS_LAST_DUE_1ST_VERSION", "DAYS_LAST_DUE"]
cols = ["DAYS_TERMINATION", "DAYS_FIRST_DRAWING", "DAYS_FIRST_DUE", "DAYS_LAST_DUE_1ST_VERSION", "DAYS_LAST_DUE"]

for col in cols:
    null_count = df[col].isna().sum()
    null_percent = (null_count / len(df)) * 100
    uniq_values = df[col].unique()
    
    print(f"Column : {col}\nNulls Percentage : {null_percent}\nUnique values : {uniq_values}")

Column : DAYS_TERMINATION
Nulls Percentage : 40.29812946125467
Unique values : [-3.70000e+01  3.65243e+05 -1.77000e+02 ... -2.82800e+03 -2.87000e+03
 -2.81500e+03]
Column : DAYS_FIRST_DRAWING
Nulls Percentage : 40.29812946125467
Unique values : [ 3.65243e+05          nan -2.77000e+02 ... -1.61100e+03 -1.77000e+03
 -1.87900e+03]
Column : DAYS_FIRST_DUE
Nulls Percentage : 40.29812946125467
Unique values : [  -42.  -134.  -271. ... -2842. -1774. -2892.]
Column : DAYS_LAST_DUE_1ST_VERSION
Nulls Percentage : 40.29812946125467
Unique values : [ 300.  916.   59. ... 1878. 2016. 1760.]
Column : DAYS_LAST_DUE
Nulls Percentage : 40.29812946125467
Unique values : [-4.20000e+01  3.65243e+05 -1.82000e+02 ... -2.86700e+03 -2.86600e+03
 -2.83300e+03]

In [14]:
# All of this columns contain about 40.30% Nulls percenatge value
# This is an unreal value in columns as 365243 = placeholder is used instead of missing values â€‹â€‹(like NULL).It often appears with rejected or canceled loans. 
df.drop(columns=[
    'DAYS_FIRST_DRAWING',
    'DAYS_FIRST_DUE',
    'DAYS_LAST_DUE_1ST_VERSION',
    'DAYS_LAST_DUE',
    'NFLAG_INSURED_ON_APPROVAL',
    'DAYS_TERMINATION'
], inplace=True)

In [15]:
df.shape

(1670214, 25)

### <span style="color:#7dc7add1;">**=> Handling Nulls**
---

In [16]:
df.isna().sum()

SK_ID_CURR                          0
NAME_CONTRACT_TYPE                  0
AMT_ANNUITY                    372235
AMT_APPLICATION                     0
AMT_CREDIT                          1
AMT_GOODS_PRICE                385515
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
FLAG_LAST_APPL_PER_CONTRACT         0
NFLAG_LAST_APPL_IN_DAY              0
NAME_CASH_LOAN_PURPOSE              0
NAME_CONTRACT_STATUS                0
DAYS_DECISION                       0
NAME_PAYMENT_TYPE                   0
CODE_REJECT_REASON                  0
NAME_CLIENT_TYPE                    0
NAME_GOODS_CATEGORY                 0
NAME_PORTFOLIO                      0
NAME_PRODUCT_TYPE                   0
CHANNEL_TYPE                        0
SELLERPLACE_AREA                    0
NAME_SELLER_INDUSTRY                0
CNT_PAYMENT                    372230
NAME_YIELD_GROUP                    0
PRODUCT_COMBINATION               346
dtype: int64

##### <span style="color:#a8dbc9d1;">Handling AMT_ANNUITY column

In [17]:
null_percent = df['AMT_ANNUITY'].isnull().sum() / len(df) * 100
print(f"{null_percent:.4f}%")

22.2867%

In [38]:
df['AMT_ANNUITY'] = df.groupby(['NAME_CONTRACT_TYPE', 'AMT_CREDIT'])['AMT_ANNUITY'].transform(
    lambda x: x.fillna(x.median())
)
df['AMT_ANNUITY'].fillna(df['AMT_ANNUITY'].mean())

0           1730.430
1          25188.615
2          15060.735
3          47041.335
4          31924.395
             ...
1670209    14704.290
1670210     6622.020
1670211    11520.855
1670212    18821.520
1670213    16431.300
Name: AMT_ANNUITY, Length: 1669867, dtype: float64

##### <span style="color:#a8dbc9d1;">Handling AMT_GOODS_PRICE column

In [19]:
null_percent = df['AMT_GOODS_PRICE'].isnull().sum() / len(df) * 100
print(f"missing values: {null_percent:.4f}%")

missing values: 23.0818%

In [39]:
df['AMT_GOODS_PRICE'] = df.groupby(['NAME_CONTRACT_TYPE'])['AMT_GOODS_PRICE'].transform(
    lambda x: x.fillna(x.median())
)
df['AMT_GOODS_PRICE'].fillna(df['AMT_GOODS_PRICE'].mean())

0           17145.0
1          607500.0
2          112500.0
3          450000.0
4          337500.0
             ...
1670209    267295.5
1670210     87750.0
1670211    105237.0
1670212    180000.0
1670213    360000.0
Name: AMT_GOODS_PRICE, Length: 1669867, dtype: float64

##### <span style="color:#a8dbc9d1;">Handling CNT_PAYMENT Nulls

In [21]:
null_percent = df['CNT_PAYMENT'].isnull().sum() / len(df) * 100
print(f"{null_percent:.4f}%")

22.2864%

In [22]:
df['CNT_PAYMENT'] = df.groupby(['NAME_CONTRACT_STATUS', 'NAME_CONTRACT_TYPE'])['CNT_PAYMENT']\
    .transform(lambda x: x.fillna(x.median()))
df['CNT_PAYMENT'] = df['CNT_PAYMENT'].fillna(df['CNT_PAYMENT'].mean())

##### <span style="color:#a8dbc9d1;">Handling AMT_CREDIT Nulls

In [23]:
xna_percent = df['AMT_CREDIT'].isnull().sum() / len(df) * 100
print(f"{xna_percent:.4f}%")

0.0001%

In [24]:
df = df.dropna(subset=['AMT_CREDIT'])

xna_percent = df['AMT_CREDIT'].isnull().sum() / len(df) * 100
print(f"{xna_percent:.4f}%")

0.0000%

##### <span style="color:#a8dbc9d1;">Handling PRODUCT_COMBINATION Nulls

In [25]:
df['PRODUCT_COMBINATION'] = df['PRODUCT_COMBINATION'].fillna(df['PRODUCT_COMBINATION'].mode().iloc[0])

In [26]:
df.isna().sum()

SK_ID_CURR                     0
NAME_CONTRACT_TYPE             0
AMT_ANNUITY                    0
AMT_APPLICATION                0
AMT_CREDIT                     0
AMT_GOODS_PRICE                0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
FLAG_LAST_APPL_PER_CONTRACT    0
NFLAG_LAST_APPL_IN_DAY         0
NAME_CASH_LOAN_PURPOSE         0
NAME_CONTRACT_STATUS           0
DAYS_DECISION                  0
NAME_PAYMENT_TYPE              0
CODE_REJECT_REASON             0
NAME_CLIENT_TYPE               0
NAME_GOODS_CATEGORY            0
NAME_PORTFOLIO                 0
NAME_PRODUCT_TYPE              0
CHANNEL_TYPE                   0
SELLERPLACE_AREA               0
NAME_SELLER_INDUSTRY           0
CNT_PAYMENT                    0
NAME_YIELD_GROUP               0
PRODUCT_COMBINATION            0
dtype: int64

### <span style="color:#7dc7add1;">**=> Handling XNA & Unknown Data**
---

##### <span style="color:#a8dbc9d1;">**Show XNA Percentage in each column conatin it**

In [27]:
xna_percent = (df.isin(['XNA']).sum() / len(df)) * 100
xap_percent = (df.isin(['XAP']).sum() / len(df)) * 100

xna_xpa_df = pd.DataFrame({
    'XNA %': xna_percent,
    'XAP %': xap_percent
})

xna_xpa_df = xna_xpa_df[(xna_xpa_df['XNA %'] > 0) | (xna_xpa_df['XAP %'] > 0)]

xna_xpa_df = xna_xpa_df.sort_values(by='XNA %', ascending=False)

max_col_length = max(len(col) for col in xna_xpa_df.index) if not xna_xpa_df.empty else 100
print(f"{'Column Name'.ljust(max_col_length)} | {'XNA %'.rjust(8)} | {'XAP %'.rjust(8)}")
print("-" * (max_col_length + 25))

for col, row in xna_xpa_df.iterrows():
    print(f"{col.ljust(max_col_length)} | {row['XNA %']:8.4f} | {row['XAP %']:8.4f}")

Column Name            |    XNA % |    XAP %
-----------------------------------------------
NAME_PRODUCT_TYPE      |  63.6845 |   0.0000
NAME_GOODS_CATEGORY    |  56.9273 |   0.0000
NAME_SELLER_INDUSTRY   |  51.2342 |   0.0000
NAME_CASH_LOAN_PURPOSE |  40.5887 |  55.2421
NAME_PAYMENT_TYPE      |  37.5631 |   0.0000
NAME_YIELD_GROUP       |  30.9669 |   0.0000
NAME_PORTFOLIO         |  22.2864 |   0.0000
CODE_REJECT_REASON     |   0.3140 |  81.0131
NAME_CLIENT_TYPE       |   0.1162 |   0.0000
NAME_CONTRACT_TYPE     |   0.0207 |   0.0000

In [28]:
Columns = ['NAME_CASH_LOAN_PURPOSE','CODE_REJECT_REASON','NAME_GOODS_CATEGORY','NAME_PRODUCT_TYPE','SELLERPLACE_AREA','NAME_SELLER_INDUSTRY']
for col in Columns:
    print(f"Row {col}:\n")
    print(df[col].value_counts())
    print("\n-" * 15,"")

Row NAME_CASH_LOAN_PURPOSE:

NAME_CASH_LOAN_PURPOSE
XAP                                 922660
XNA                                 677918
Repairs                              23765
Other                                15608
Urgent needs                          8412
Buying a used car                     2888
Building a house or an annex          2693
Everyday expenses                     2416
Medicine                              2174
Payments on other loans               1931
Education                             1573
Journey                               1239
Purchase of electronic equipment      1061
Buying a new car                      1012
Wedding / gift / holiday               962
Buying a home                          865
Car repairs                            797
Furniture                              749
Buying a holiday home / land           533
Business development                   426
Gasification / water supply            300
Buying a garage                        136
Hobby                                   55
Money for a third person                25
Refusal to name the goal                15
Name: count, dtype: int64

-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
Row CODE_REJECT_REASON:

CODE_REJECT_REASON
XAP       1353092
HC         175231
LIMIT       55680
SCO         37467
CLIENT      26436
SCOFR       12811
XNA          5244
VERIF        3535
SYSTEM        717
Name: count, dtype: int64

-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
Row NAME_GOODS_CATEGORY:

NAME_GOODS_CATEGORY
XNA                         950808
Mobile                      224708
Consumer Electronics        121576
Computers                   105769
Audio/Video                  99441
Furniture                    53656
Photo / Cinema Equipment     25021
Construction Materials       24995
Clothing and Accessories     23554
Auto Accessories              7381
Jewelry                       6290
Homewares                     5023
Medical Supplies              3843
Vehicles                      3370
Sport and Leisure             2981
Gardening                     2668
Other                         2554
Office Appliances             2333
Tourism                       1659
Medicine                      1550
Direct Sales                   446
Fitness                        209
Additional Service             128
Education                      107
Weapon                          77
Insurance                       64
Animals                          1
House Construction               1
Name: count, dtype: int64

-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
Row NAME_PRODUCT_TYPE:

NAME_PRODUCT_TYPE
XNA        1063666
x-sell      456287
walk-in     150260
Name: count, dtype: int64

-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
Row SELLERPLACE_AREA:

SELLERPLACE_AREA
-1       762675
 0        60523
 50       37401
 30       34423
 20       33839
          ...
 1014         1
 1256         1
 677          1
 7518         1
 1446         1
Name: count, Length: 2097, dtype: int64

-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
Row NAME_SELLER_INDUSTRY:

NAME_SELLER_INDUSTRY
XNA                     855720
Consumer electronics    398265
Connectivity            276028
Furniture                57849
Construction             29781
Clothing                 23949
Industry                 19194
Auto technology           4990
Jewelry                   2709
MLM partners              1215
Tourism                    513
Name: count, dtype: int64

-
-
-
-
-
-
-
-
-
-
-
-
-
-
-

In [29]:
df.drop(columns=[
    'NAME_CASH_LOAN_PURPOSE', # 1352777 XAP
    'CODE_REJECT_REASON', # 1352777 XNA
    'NAME_GOODS_CATEGORY', # 56% NULLS + 950462 XNA
    'NAME_PRODUCT_TYPE',  # 1063320 XNA
    'SELLERPLACE_AREA', # Not Important + [762672 row = -1]
], inplace=True)

##### <span style="color:#a8dbc9d1;">Handle XNA values in NAME_CONTRACT_TYPE

In [30]:
df['NAME_CONTRACT_TYPE'].unique()

array(['Consumer loans', 'Cash loans', 'Revolving loans', 'XNA'],
      dtype=object)

In [31]:
df = df[df['NAME_CONTRACT_TYPE'] != 'XNA']

##### <span style="color:#a8dbc9d1;">Handle XNA in NAME_PORTFOLIO

In [32]:
df['NAME_PORTFOLIO'].unique()

array(['POS', 'Cash', 'XNA', 'Cards', 'Cars'], dtype=object)

In [33]:
df['NAME_PORTFOLIO'].value_counts(normalize=True)

NAME_PORTFOLIO
POS      0.413812
Cash     0.276407
XNA      0.222703
Cards    0.086824
Cars     0.000255
Name: proportion, dtype: float64

In [34]:
NAME_PORTFOLIO_count = (df['NAME_PORTFOLIO'] == 'XNA').sum()
NAME_PORTFOLIO_percentage = (NAME_PORTFOLIO_count / len(df)) * 100
NAME_PORTFOLIO_percentage

22.270276614844175

In [35]:
def fix_portfolio(row):
    current = str(row['NAME_PORTFOLIO']).strip()
    if current != 'XNA':
        return current 

    product = str(row['PRODUCT_COMBINATION']).lower().strip() if pd.notna(row['PRODUCT_COMBINATION']) else ''
    industry = str(row['NAME_SELLER_INDUSTRY']).lower().strip() if pd.notna(row['NAME_SELLER_INDUSTRY']) else ''

    if product.startswith('cash'):
        return 'Cash'
    elif product.startswith('card'):
        return 'Cards'
    elif product.startswith('pos'):
        if 'industry' in industry:
            return 'Cars'
        else:
            return 'POS'
    else:
        return current

df['NAME_PORTFOLIO'] = df.apply(fix_portfolio, axis=1)

In [36]:
df.drop('NAME_SELLER_INDUSTRY',axis=1,inplace=True) # 51% NULLS + 855716 XNA

In [37]:
df['NAME_PORTFOLIO'].value_counts(normalize=True)

NAME_PORTFOLIO
Cash     0.447672
POS      0.436322
Cards    0.115676
Cars     0.000330
Name: proportion, dtype: float64